{
  "openapi": "3.0.2",
  "info": {
    "title": "Box Platform 2.0 APIs",
    "description": "The Box Content API gives you access to secure content management and content experience features for use in your own app. It strives to be RESTful and is organized around the main resources you’re familiar with from the Box web interface.",
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
    "contact": {
      "name": "Box Developer Relations",
      "url": "https://developer.box.com",
      "email": "devrel@box.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.box.com/2.0",
      "description": "Box Platform API server"
    }
  ],
  "paths": {
    "/authorize": {
      "get": {
        "operationId": "get_authorize",
        "summary": "Authorize a user",
        "description": "Authorize a user by sending them through the [Box](https://box.com)\nwebsite and request their permission to act on their behalf.\n\nThis is the first step when authenticating a user using\nOAuth 2.0. To request a user's authorization to use the Box APIs\non their behalf you will need to send a user to the URL with this\nformat.",
        "tags": [
          "Authorization"
        ],
        "x-box-reference-category": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://account.box.com/api/oauth2",
            "description": "Server for client-side authentication"
          }
        ],
        "parameters": [
          {
            "name": "response_type",
            "description": "The string value `\"code\"` is the only current value we support\nfor the OAuth2 grant type.",
            "in": "query",
            "example": "5idyGSFuf54zrvKm",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "client_id",
            "description": "The Client ID of the application that is requesting to authenticate\nthe user. To get the Client ID for your application, log in to your\nBox developer console and click the **Edit Application** link for\nthe application you're working with. In the OAuth2 Parameters section\nof the configuration page, find the item labeled **client_id**. The\ntext of that item is your application's Client ID.",
            "in": "query",
            "example": "ly1nj6n11vionaie65emwzk575hnnmrk",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "description": "The URL to which Box redirects the browser after the user has granted\nor rejected the application permission. This URL must match the\nredirect URL in the configuration of your application. It must be a\nvalid HTTPS URL and it needs to be able to handle the redirection to\ncomplete the next step in the OAuth2 flow.",
            "in": "query",
            "example": "http://example.com/auth/callback",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "description": "A custom string of your choice. Box will pass the same string to\nthe redirect URL when authentication is complete. This parameter\ncan be used to identify a user on redirect, as well as protect\nagainst hijacked sessions and other attacks.",
            "in": "query",
            "example": "my_state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "A comma-separated list of application scopes you'd like to\nauthenticate the user for. This defaults to all the scopes configured\nfor the application in its configuration page.",
            "in": "query",
            "example": "admin_readwrite",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Does not return any data, but rather should be used in the browser.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "post_oauth2_token",
        "summary": "Request an Access Token",
        "description": "Request an Access Token using either a client-side obtained OAuth2\nauthorization code or a server-side JWT assertion.\n\nAn Access Token is a string that enables Box to verify that a\nrequest belongs to an authorized session. In the normal order of\noperations you will begin by requesting authentication from the\n[authorize](#get-authorize) endpoint and Box will send you an\nauthorization code.\n\nYou will then send this code to this endpoint to exchange it for\nan Access Token. The returned Access Token can then be used to to make\nBox API calls.",
        "tags": [
          "Authorization"
        ],
        "x-box-reference-category": "authorization",
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a new Access Token that can be used to make authenticated\nAPI calls by passing along the token in a authorization header as\nfollows `Authorization: Bearer <Token>`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "A generic authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/revoke": {
      "post": {
        "operationId": "post_oauth2_revoke",
        "summary": "Revoke an Access Token",
        "description": "Revoke an active Access Token, effectively logging a user out\nthat has been previously authenticated.",
        "tags": [
          "Authorization"
        ],
        "x-box-reference-category": "authorization",
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRevocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an empty response when the token was successfully revoked."
          },
          "400": {
            "description": "An OAuth2 error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/thumbnail.{extension}": {
      "get": {
        "operationId": "get_files_id_thumbnail_id",
        "summary": "Retrieve a file thumbnail",
        "description": "Retrieves a thumbnail, or smaller image representation, of a file.\n\nSizes of `32x32`,`64x64`, `128x128`, and `256x256` can be returned in\nthe `.png` format and sizes of `32x32`, `94x94`, `160x160`, and `320x320`\ncan be returned in the `.jpg` format.\n\nThumbnails can be generated for the image and video file formats listed\n[found on our community site](http://community.box.com/t5/Managing-\\\nYour-Content/What-file-types-are-supported-by-Box-s-Content-Preview/\\\nta-p/327).",
        "tags": [
          "Files",
          "Thumbnails"
        ],
        "x-box-reference-category": "files",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the folder.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extension",
            "description": "The file format for the thumbnail",
            "in": "path",
            "required": true,
            "example": "png",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg"
              ]
            }
          },
          {
            "name": "min_height",
            "description": "The minimum height of the thumbnail",
            "in": "query",
            "example": 32,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "min_width",
            "description": "The minimum width of the thumbnail",
            "in": "query",
            "example": 32,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_height",
            "description": "The maximum height of the thumbnail",
            "in": "query",
            "required": false,
            "example": 32,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_width",
            "description": "The maximum width of the thumbnail",
            "in": "query",
            "required": false,
            "example": 32,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When a thumbnail can be created the thumbnail data will be\nreturned in the body of the response.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The thumbnail"
                }
              },
              "image/jpg": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The thumbnail"
                }
              }
            }
          },
          "202": {
            "description": "If the thumbnail is not available yet, a `Location` header\npointing to a placeholder graphic will be returned.",
            "headers": {
              "Retry-After": {
                "description": "The time in seconds after which the thumbnail will be available.\n\nYour application  only attempt to get the thumbnail again after\nthis time.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "Location": {
                "description": "A pointer to a placeholder graphic that can be used until the\nthumbnail has been generated.",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "302": {
            "description": "If Box is unable to generate a thumbnail for this file type, a `Location`\nheader pointing to a placeholder graphic for this file type will be\nreturned.",
            "headers": {
              "Location": {
                "description": "A pointer to a placeholder graphic that can be used for this\nfile type.",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "404": {
            "description": "If Box is unable to generate a thumbnail for this particular file, `404`\nwill be returned with a code of `preview_cannot_be_generated`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}": {
      "get": {
        "operationId": "get_folders_id",
        "summary": "Retrieve a folder",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "description": "Retrieves the details about a folder, including the first 100 entries\nin the folder.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a folder object, including the first 100 entries in the folder.\n\n[Some fields are optional](#folder) and need to be explicitly\nrequested using the [fields](#get-folders-id--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "A client error can occur of the user does not have access to the folder,\nthe folder does not exists, or incorrect parameters are passed in the\nrequest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_folders_id",
        "summary": "Update a folder",
        "description": "Updates a folder. This can be also be used to move the folder,\ncreate shared links, update collaborations, and more.",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "description": "Ensure this item hasn't recently changed\nby ensuring the item's current `etag` matches the\n`etag` passed into this header.",
            "in": "header",
            "required": false,
            "example": 1,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name for the folder",
                    "example": "New Folder"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the folder",
                    "maxLength": 256,
                    "example": "Some pictures I took"
                  },
                  "sync_state": {
                    "type": "string",
                    "example": "synced",
                    "description": "If Box Sync or Box Drive is allowed to sync this folder.",
                    "enum": [
                      "synced",
                      "not_synced"
                    ]
                  },
                  "can_non_owners_invite": {
                    "type": "boolean",
                    "example": true,
                    "description": "If collaborators who are not\nfolder owners can invite new collaborators"
                  },
                  "is_collaboration_restricted_to_enterprise": {
                    "type": "boolean",
                    "example": true,
                    "description": "If future invites to this folder are restricted to users\nwithin the enterprise. This does not affect existing\ncollaborations."
                  },
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      },
                      {
                        "description": "The parent folder for this folder"
                      }
                    ]
                  },
                  "shared_link": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SharedLink--Writable"
                      },
                      {
                        "description": "Enables the creation of a shared link for this folder"
                      }
                    ]
                  },
                  "folder_upload_email": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/FolderUploadEmail"
                      },
                      {
                        "description": "Enables an email address for users to upload\nfiles directly to the folder"
                      }
                    ]
                  },
                  "owned_by": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Owner"
                      },
                      {
                        "description": "The user that owns this folder"
                      }
                    ]
                  },
                  "tags": {
                    "type": "array",
                    "example": [
                      "approved"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "description": "The tags for this folder.\n\nTo add or remove a tag, retrieve the folder’s current tags,\nmodify them, and then update them using this field."
                  },
                  "collections": {
                    "type": "array",
                    "description": "The collections this folder belongs to.",
                    "items": {
                      "$ref": "#/components/schemas/Parent"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a folder object for the updated folder\n\n[Some fields are optional](#folder) and need to be explicitly\nrequested using the [fields](#put-folders-id--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_folders_id",
        "summary": "Delete a folder",
        "description": "Deletes a folder, either permanently or by moving it to\nthe trash.\n\nThe the enterprise settings determine wether the item will\nbe permanently deleted from Box or moved to the trash.",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "description": "Delete a folder that is not empty by recursively deleting the\nfolder and all of its content.",
            "in": "query",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "If-Match",
            "description": "Ensure this item hasn't recently changed\nby ensuring the item's current `etag` matches the\n`etag` passed into this header.",
            "in": "header",
            "required": false,
            "example": 1,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the folder is successfully deleted\nor moved to the trash."
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/items": {
      "get": {
        "operationId": "get_folders_id_items",
        "summary": "Retrieve folder items",
        "tags": [
          "Folders",
          "Files"
        ],
        "x-box-reference-category": "folders",
        "description": "Retrieves a page of files, folders, web links, and other items contained\nwithin the specified folder.\n\nTo request more information about the folder, use the\n[Retrieve a folder](#get-folders-id-items) endpoint.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "description": "The offset of the item at which to begin the response.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return per page.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of items contained in the folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemReferenceCollection"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders": {
      "post": {
        "operationId": "post_folders",
        "summary": "Create a folder",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "description": "Creates a new empty folder within the specified parent folder.",
        "parameters": [
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name for the new folder",
                    "example": "New Folder"
                  },
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      },
                      {
                        "description": "The parent folder"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a folder object.\n\n[Some fields are optional](#folder) and need to be explicitly\nrequested using the [fields](#post-folders--request--fields) parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/copy": {
      "post": {
        "operationId": "post_folders_id_copy",
        "summary": "Copy a folder",
        "description": "Creates a copy of a folder in another folder. The original folder will\nnot be changed.",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "parent"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "An optional different name for the new folder",
                    "example": "New Folder"
                  },
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      },
                      {
                        "description": "The parent folder"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a new folder object representing the copied folder.\n\n[Some fields are optional](#folder) and need to be explicitly\nrequested using the [fields](#post-folders-id-copy--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/collaborations": {
      "get": {
        "operationId": "get_folders_id_collaborations",
        "summary": "Retrieve folder collaborations",
        "description": "Retrieves a list of collaborations for a folder folder. This\nreturns all the users that have access to the folder.",
        "tags": [
          "Collaborations",
          "Folders"
        ],
        "x-box-reference-category": "collaborations",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return per page.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "description": "The offset of the item at which to begin the response.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of collaboration objects. If there are no\ncollaborations on this folder an empty collection will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollaborationCollection"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2Security": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
            "tokenUrl": "https://api.box.com/oauth2/token",
            "scopes": {
              "root_readonly": "Read all files and folders stored in Box",
              "root_readwrite": "Read and write all files and folders stored in Box",
              "manage_app_users": "Provision and manage app users",
              "manage_managed_users": "Provision and manage managed users",
              "manage_groups": "Manage an enterprise's groups",
              "manage_webhook": "Create webhooks programmatically through the API",
              "manage_enterprise_properties": "Manage enterprise properties",
              "manage_data_retention": "Manage data retention polices",
              "manage_legal_hold": "Manage Legal Holds"
            }
          }
        }
      }
    },
    "schemas": {
      "AccessToken": {
        "x-box-resource-id": "access_token",
        "description": "A token that can be used to make authenticated API calls",
        "x-box-reference-category": "authorization",
        "allOf": [
          {
            "$ref": "#/components/schemas/AccessToken--Mini"
          },
          {
            "properties": {
              "refresh_token": {
                "type": "string",
                "format": "token",
                "example": "c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ",
                "description": "The refresh token for this access token, which can be used\nto request a new access token when the current one expires."
              },
              "issued_token_type": {
                "type": "string",
                "example": "urn:ietf:params:oauth:token-type:access_token",
                "enum": [
                  "urn:ietf:params:oauth:token-type:access_token"
                ],
                "description": "The type of downscoped access token returned. This is only\nreturned if an access token has been downscoped."
              }
            }
          }
        ]
      },
      "AccessToken--Mini": {
        "x-box-resource-id": "access_token--mini",
        "description": "The basics of an access token",
        "x-box-reference-hide": true,
        "properties": {
          "access_token": {
            "type": "string",
            "format": "token",
            "example": "c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ",
            "description": "The requested access token."
          },
          "expires_in": {
            "type": "integer",
            "format": "int64",
            "example": 3600,
            "description": "The time in seconds in seconds by which this token will expire."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "bearer"
            ],
            "example": "bearer",
            "description": "The type of access token returned."
          },
          "restricted_to": {
            "type": "array",
            "description": "The permissions that this access token permits,\nproviding a list of resources (files, folders, etc)\nand the scopes permitted for each of those resources.",
            "items": {
              "$ref": "#/components/schemas/FileScope"
            }
          }
        }
      },
      "AssignmentCounts": {
        "x-box-resource-id": "_assignment_counts",
        "description": "Counts of assignments within this a legal hold policy by item type",
        "properties": {
          "user": {
            "type": "integer",
            "format": "int64",
            "description": "The number of users this policy is applied to",
            "example": 1
          },
          "folder": {
            "type": "integer",
            "format": "int64",
            "description": "The number of folders this policy is applied to",
            "example": 2
          },
          "file": {
            "type": "integer",
            "format": "int64",
            "description": "The number of files this policy is applied to",
            "example": 3
          },
          "file_version": {
            "type": "integer",
            "format": "int64",
            "description": "The number of file versions this policy is applied to",
            "example": 4
          }
        }
      },
      "ClientError": {
        "x-box-resource-id": "client_error",
        "description": "A generic error",
        "properties": {
          "type": {
            "description": "Always `error`",
            "example": "`error`",
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "status": {
            "description": "The HTTP status of the response.",
            "example": 400,
            "type": "integer",
            "format": "int32"
          },
          "code": {
            "description": "A Box-specific error code",
            "example": "item_name_invalid",
            "type": "string"
          },
          "help_url": {
            "description": "A URL that links to more information about why the error occurred.",
            "example": "http://developers.box.com/docs/#errors",
            "type": "string"
          },
          "message": {
            "description": "A human-readable message describing the error.",
            "example": "Item name invalid",
            "type": "string"
          },
          "request_id": {
            "description": "The unique ID for this request as can be used when contacting\nBox support.",
            "type": "string",
            "example": "abcdef123456"
          }
        }
      },
      "Collaboration": {
        "x-box-resource-id": "collaboration",
        "description": "Collaborations define access permissions for users and groups to files and\nfolders, similar to access control lists. A collaboration object grants a\nuser or group access to a file or folder with permissions defined by a\nspecific role.",
        "x-box-reference-category": "collaborations",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "item": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ItemReference"
                  },
                  {
                    "description": "The file or folder that access is granted to"
                  }
                ]
              },
              "accessible_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user or group that is granted access"
                  }
                ]
              },
              "invite_email": {
                "type": "string",
                "example": "john@example.com",
                "description": "The email address used to invite an unregistered collaborator, if\nthey are not a registered user."
              },
              "role": {
                "type": "string",
                "example": "editor",
                "enum": [
                  "editor",
                  "viewer",
                  "previewer",
                  "uploader",
                  "preview uploader",
                  "viewer uploader",
                  "co-owner",
                  "owner"
                ],
                "description": "The level of access granted."
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "When the collaboration will expire"
              },
              "can_view_path": {
                "type": "boolean",
                "example": true,
                "description": "Whether the \"view path collaboration\" feature is enabled or not. View\npath collaborations allow the invitee to see the entire parent path to\nthe item. View path collaboration does not grant privileges in any\nparent folder (e.g. cannot see content the user is not collaborated\non), other than the permission to view the parent path."
              },
              "status": {
                "type": "string",
                "example": "accepted",
                "enum": [
                  "accepted",
                  "pending",
                  "rejected"
                ],
                "description": "The status of the collaboration invitation."
              },
              "acknowledged_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "When the `status` of the collaboration object changed to\n`accepted` or `rejected`"
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created the collaboration object"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "When the collaboration object was created"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "When the collaboration object was last modified"
              }
            }
          }
        ]
      },
      "CollaborationCollection": {
        "x-box-resource-id": "collaborations",
        "description": "A list of collaborations",
        "x-box-reference-category": "collaborations",
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "properties": {
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Collaboration"
                }
              }
            }
          }
        ]
      },
      "CollaborationWhitelistEntry": {
        "x-box-resource-id": "collaboration_whitelist_entry",
        "description": "A Collaboration Whitelist entry describes an\napproved domains that can collaborate with your enterprise",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "domain": {
                "type": "string",
                "example": "example.com",
                "description": "The whitelisted domain"
              },
              "direction": {
                "type": "string",
                "example": "both",
                "description": "The direction of the collaborations to whitelist",
                "enum": [
                  "inbound",
                  "outbound",
                  "both"
                ]
              },
              "enterprise": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Enterprise"
                  },
                  {
                    "description": "The enterprise this whitelist is applied to"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the whitelist entry was created",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "CollaborationWhitelistExemptTarget": {
        "x-box-resource-id": "collaboration_whitelist_exempt_target",
        "description": "The record that represents a target user that is exempt from the\ncollaboration whitelist.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "enterprise": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Enterprise"
                  },
                  {
                    "description": "The enterprise this entry belongs to"
                  }
                ]
              },
              "user": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Enterprise"
                  },
                  {
                    "description": "The user that has been exempt"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the entry was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the entry was modified",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "Comment": {
        "x-box-resource-id": "comment",
        "description": "Comments are messages created on files. Comments\ncan be made independently or created as responses to other\ncomments",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Comment--Standard"
          },
          {
            "properties": {
              "tagged_message": {
                "type": "string",
                "example": "@[1234567:Aaron Levie] these tigers are cool!",
                "description": "The string representing the comment text with\n@mentions included. @mention format is @[id:username]\nwhere `id` is user's Box ID an username is\ntheir display name."
              }
            }
          }
        ]
      },
      "Comment--Standard": {
        "x-box-resource-id": "comment--standard",
        "description": "Standard representation of a comment, as returned by the\ncomment API endpoints and when nested within other resources.",
        "x-box-reference-hide": true,
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "is_reply_comment": {
                "type": "boolean",
                "description": "Whether or not this comment is a reply to another\ncomment",
                "example": true
              },
              "message": {
                "type": "string",
                "example": "@Aaron Levie these tigers are cool!",
                "description": "The text of the comment, as provided by the user"
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "A mini user object representing the author of the\ncomment"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time this comment was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time this comment was last modified",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "item": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ItemReference"
                  },
                  {
                    "description": "The object this comment was placed on"
                  }
                ]
              }
            }
          }
        ]
      },
      "DevicePinner": {
        "x-box-resource-id": "device_pinner",
        "description": "Device pins allow enterprises to control what devices can\nuse native Box applications.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "owned_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user that the device pin belongs to"
                  }
                ]
              },
              "product_name": {
                "type": "string",
                "description": "The type of device being pinned",
                "example": "iPad"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the device pin was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the device pin was modified",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "Enterprise": {
        "x-box-resource-id": "enterprise",
        "description": "A representation of a Box enterprise",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "name": {
                "description": "The name of the enterprise",
                "example": "Acme Inc.",
                "type": "string"
              }
            }
          }
        ]
      },
      "Event": {
        "x-box-resource-id": "event",
        "description": "The description of an event that happened within Box",
        "properties": {
          "type": {
            "description": "`event`",
            "type": "string",
            "example": "event"
          },
          "event_id": {
            "type": "string",
            "example": "f82c3ba03e41f7e8a7608363cc6c0390183c3f83",
            "description": "The ID of the event object. You can use this to detect duplicate events"
          },
          "created_by": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User--Mini"
              },
              {
                "description": "The user that performed the action represented by the event.\nSome events may be performed by users not logged into Box.\nIn that case, not all attributes of the object are populated and the\nevent is attributed to a unknown user (`user_id = 2`)"
              }
            ]
          },
          "event_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventType"
              },
              {
                "description": "The event type that triggered this event"
              }
            ]
          },
          "session_id": {
            "type": "string",
            "example": "70090280850c8d2a1933c1",
            "description": "The session of the user that performed the action. Not all events will\npopulate this attribute."
          },
          "source": {
            "type": "object",
            "allOf": [
              {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/File--Standard"
                  },
                  {
                    "$ref": "#/components/schemas/Folder--Standard"
                  },
                  {
                    "$ref": "#/components/schemas/Comment"
                  }
                ]
              },
              {
                "description": "The object that triggered this event"
              }
            ]
          },
          "additional_details": {
            "type": "object",
            "example": "",
            "description": "This object provides additional information about the event if available.\n\nThis can include how a user performed an event as well as additional\ninformation to correlate an event to external Keysafe logs. Not all events\nhave an additional_details object.  This object is only available in the\nEnterprise Events."
          }
        }
      },
      "EventType": {
        "x-box-resource-id": "event_type",
        "example": "FILE.UPLOADED",
        "type": "string",
        "description": "An event type that can trigger an event",
        "enum": [
          "ACCESS_GRANTED",
          "ACCESS_REVOKED",
          "ADD_DEVICE_ASSOCIATION",
          "ADD_LOGIN_ACTIVITY_DEVICE",
          "ADMIN_LOGIN",
          "APPLICATION_CREATED",
          "APPLICATION_PUBLIC_KEY_ADDED",
          "APPLICATION_PUBLIC_KEY_DELETED",
          "CHANGE_ADMIN_ROLE",
          "CHANGE_FOLDER_PERMISSION",
          "COLLABORATION_ACCEPT",
          "COLLABORATION_EXPIRATION",
          "COLLABORATION_INVITE",
          "COLLABORATION_REMOVE",
          "COLLABORATION_ROLE_CHANGE",
          "COLLAB_ADD_COLLABORATOR",
          "COLLAB_INVITE_COLLABORATOR",
          "COLLAB_REMOVE_COLLABORATOR",
          "COLLAB_ROLE_CHANGE",
          "COMMENT_CREATE",
          "COMMENT_DELETE",
          "CONTENT_WORKFLOW_ABNORMAL_DOWNLOAD_ACTIVITY",
          "CONTENT_WORKFLOW_AUTOMATION_ADD",
          "CONTENT_WORKFLOW_AUTOMATION_DELETE",
          "CONTENT_WORKFLOW_POLICY_ADD",
          "CONTENT_WORKFLOW_SHARING_POLICY_VIOLATION",
          "CONTENT_WORKFLOW_UPLOAD_POLICY_VIOLATION",
          "COPY",
          "DATA_RETENTION_CREATE_RETENTION",
          "DATA_RETENTION_REMOVE_RETENTION",
          "DELETE",
          "DELETE_USER",
          "DEVICE_TRUST_CHECK_FAILED",
          "DOWNLOAD",
          "EDIT",
          "EDIT_USER",
          "EMAIL_ALIAS_CONFIRM",
          "EMAIL_ALIAS_REMOVE",
          "ENABLE_TWO_FACTOR_AUTH",
          "FAILED_LOGIN",
          "FILE_MARKED_MALICIOUS",
          "FILE_WATERMARKED_DOWNLOAD",
          "GROUP_ADD_ITEM",
          "GROUP_ADD_USER",
          "GROUP_CREATION",
          "GROUP_DELETION",
          "GROUP_EDITED",
          "GROUP_REMOVE_ITEM",
          "GROUP_REMOVE_USER",
          "ITEM_COPY",
          "ITEM_CREATE",
          "ITEM_DOWNLOAD",
          "ITEM_MAKE_CURRENT_VERSION",
          "ITEM_MODIFY",
          "ITEM_MOVE",
          "ITEM_OPEN",
          "ITEM_PREVIEW",
          "ITEM_RENAME",
          "ITEM_SHARED",
          "ITEM_SHARED_CREATE",
          "ITEM_SHARED_UNSHARE",
          "ITEM_SHARED_UPDATE",
          "ITEM_SYNC",
          "ITEM_TRASH",
          "ITEM_UNDELETE_VIA_TRASH",
          "ITEM_UNSYNC",
          "ITEM_UPLOAD",
          "LEGAL_HOLD_ASSIGNMENT_CREATE",
          "LEGAL_HOLD_ASSIGNMENT_DELETE",
          "LEGAL_HOLD_POLICY_CREATE",
          "LEGAL_HOLD_POLICY_DELETE",
          "LEGAL_HOLD_POLICY_UPDATE",
          "LOCK",
          "LOCK_CREATE",
          "LOCK_DESTROY",
          "LOGIN",
          "MASTER_INVITE_ACCEPT",
          "MASTER_INVITE_REJECT",
          "METADATA_INSTANCE_CREATE",
          "METADATA_INSTANCE_DELETE",
          "METADATA_INSTANCE_UPDATE",
          "METADATA_TEMPLATE_CREATE",
          "METADATA_TEMPLATE_DELETE",
          "METADATA_TEMPLATE_UPDATE",
          "MOVE",
          "NEW_USER",
          "PREVIEW",
          "REMOVE_DEVICE_ASSOCIATION",
          "REMOVE_LOGIN_ACTIVITY_DEVICE",
          "RENAME",
          "RETENTION_POLICY_ASSIGNMENT_ADD",
          "SHARE",
          "SHARE_EXPIRATION",
          "STORAGE_EXPIRATION",
          "TAG_ITEM_CREATE",
          "TASK_ASSIGNMENT_CREATE",
          "TASK_ASSIGNMENT_DELETE",
          "TASK_ASSIGNMENT_UPDATE",
          "TASK_CREATE",
          "TASK_UPDATE",
          "TERMS_OF_SERVICE_ACCEPT",
          "TERMS_OF_SERVICE_REJECT",
          "UNDELETE",
          "UNLOCK",
          "UNSHARE",
          "UPDATE_COLLABORATION_EXPIRATION",
          "UPDATE_SHARE_EXPIRATION",
          "UPLOAD",
          "USER_AUTHENTICATE_OAUTH2_ACCESS_TOKEN_CREATE",
          "WATERMARK_LABEL_CREATE",
          "WATERMARK_LABEL_DELETE"
        ]
      },
      "File": {
        "x-box-resource-id": "file",
        "description": "A full representation of a file, as can be returned from any\nfile API endpoints by default",
        "x-box-reference-category": "files",
        "allOf": [
          {
            "$ref": "#/components/schemas/File--Standard"
          },
          {
            "properties": {
              "version_number": {
                "type": "string",
                "example": "1",
                "description": "The version number of this file"
              },
              "comment_count": {
                "type": "integer",
                "example": 10,
                "description": "The number of comments on this file"
              },
              "permissions": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Permissions"
                  },
                  {
                    "description": "An object containing the permissions that the current user has\nfor this item"
                  }
                ]
              },
              "tags": {
                "type": "array",
                "example": [
                  "draft",
                  "needs_review"
                ],
                "items": {
                  "type": "string"
                },
                "description": "All tags applied to this folder."
              },
              "lock": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Lock"
                  },
                  {
                    "description": "The lock held on this file. If there is no lock, this can either\nbe `null` or have a timestamp in the past."
                  }
                ]
              },
              "extension": {
                "type": "string",
                "example": "png",
                "description": "Indicates the suffix, when available, on the file. By default,\nset to an empty string. The suffix usually indicates the encoding\n(file format) of the file contents or usage."
              },
              "is_package": {
                "type": "boolean",
                "example": true,
                "description": "Whether the file is a package. Used for Mac Packages used by iWorks."
              },
              "expiring_embed_link": {
                "type": "string",
                "example": "https://app.box.com/preview/expiring_embed/gvoct6FE!",
                "description": "An expiring URL for an embedded preview session in an iframe.\nThis URL will expire after 60 seconds and the session will\nexpire after 60 minutes."
              },
              "watermark_info": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WatermarkInfo"
                  },
                  {
                    "description": "Information about the watermarking on this file"
                  }
                ]
              },
              "allowed_invitee_roles": {
                "type": "array",
                "description": "Folder [collaboration](#collaboration-object) roles allowed by the\nenterprise administrator.",
                "items": {
                  "type": "string"
                },
                "example": [
                  "open"
                ],
                "enum": [
                  "open",
                  "company",
                  "collaborators"
                ]
              },
              "is_externally_owned": {
                "type": "boolean",
                "example": true,
                "description": "Whether this file is owned by a user outside of the enterprise."
              },
              "has_collaborations": {
                "type": "boolean",
                "example": true,
                "description": "Whether this file has any collaborators."
              },
              "metadata": {
                "type": "object",
                "description": "The scope of the metadata",
                "example": {
                  "global": {
                    "properties": {
                      "$canEdit": true,
                      "$id": "1ced710e-19e6-4d98-a288-a81fb2dae93c",
                      "$parent": "file_1234567",
                      "$scope": "global",
                      "$template": "properties",
                      "$type": "properties",
                      "$typeVersion": 5,
                      "$version": 1,
                      "MyKey": "MyValue"
                    }
                  },
                  "enterprise_12345": {
                    "properties": {
                      "$canEdit": true,
                      "$id": "57b35856-8fed-4fbc-826d-9543a7bf27ce",
                      "$parent": "file_1234567",
                      "$scope": "enterprise_12345",
                      "$template": "acme_inc_metadata",
                      "$type": "acme_inc_metadata-f2c57cf8-9e7a-4769-a5b2-54f8c3b7c1a0",
                      "$typeVersion": 4,
                      "$version": 1,
                      "acme_inc_metadata_id": "123"
                    }
                  }
                },
                "additionalProperties": {
                  "type": "object",
                  "description": "The template name for the metadata",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        ]
      },
      "File--Standard": {
        "x-box-resource-id": "file--standard",
        "description": "A standard representation of a file, as returned from any\nfile API endpoints by default",
        "x-box-reference-hide": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/File--Mini"
          },
          {
            "properties": {
              "sha1": {
                "type": "string",
                "format": "hash",
                "example": "85136C79CBF9FE36BB9D05D0639C70C265C18D37",
                "description": "The SHA1 hash of the file."
              },
              "description": {
                "type": "string",
                "description": "The description of the file",
                "maxLength": 256,
                "example": "Some pictures I took"
              },
              "size": {
                "type": "integer",
                "description": "The file size in bytes. Be careful parsing this integer, it can\neasily go into [exponent notation](http://en.wikipedia.org/wiki/\\\nDouble-precision_floating-point_format).",
                "example": 629644
              },
              "path_collection": {
                "type": "array",
                "description": "The path of folders to this file, starting at the root",
                "items": {
                  "$ref": "#/components/schemas/Folder--Mini"
                }
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was upload to Box’s servers",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was last updated on the Box servers",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "trashed_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was last moved to the trash",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "purged_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file will be permanently deleted",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "content_created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was created originally",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "content_modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was last updated",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the file will automatically be deleted",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created this file"
                  }
                ]
              },
              "modified_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who last modified this file"
                  }
                ]
              },
              "owned_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who owns this file"
                  }
                ]
              },
              "shared_link": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SharedLink"
                  },
                  {
                    "description": "The shared link object for this file. Will be\n`null` if no shared link has been created."
                  }
                ]
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Folder--Mini"
                  },
                  {
                    "description": "The folder that contains this file."
                  }
                ]
              },
              "item_status": {
                "type": "string",
                "example": "active",
                "enum": [
                  "active",
                  "trashed",
                  "deleted"
                ],
                "description": "Whether this item is deleted or not. Values include `active`,\n`trashed` if the file has been moved to the trash, and `deleted` if\nthe file has been permanently deleted"
              }
            }
          }
        ]
      },
      "File--Mini": {
        "x-box-resource-id": "file--mini",
        "description": "A mini representation of a file, used when\nnested under another resource.",
        "x-box-reference-hide": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/ItemReference"
          },
          {
            "properties": {
              "sequence_id": {
                "type": "string",
                "example": "1",
                "description": "A unique ID for use with the /events endpoint"
              },
              "etag": {
                "type": "string",
                "example": "1",
                "description": "The entity tag of this file object. Used with `If-Match`\nheaders."
              },
              "name": {
                "type": "string",
                "description": "The name of the file",
                "example": "Pictures"
              }
            }
          }
        ]
      },
      "FileScope": {
        "x-box-resource-id": "_file_scope",
        "description": "A relation between a file and the scopes for which the file can be accessed",
        "properties": {
          "object": {
            "allOf": [
              {
                "$ref": "#/components/schemas/File"
              },
              {
                "description": "The file for which the file can be accessed"
              }
            ]
          },
          "scope": {
            "type": "string",
            "description": "The file scopes for the file access",
            "example": "item_download",
            "enum": [
              "annotation_edit",
              "annotation_view_all",
              "annotation_view_self",
              "base_explorer",
              "base_picker",
              "base_preview",
              "base_upload",
              "item_delete",
              "item_download",
              "item_preview",
              "item_rename",
              "item_share",
              "item_upload"
            ]
          }
        }
      },
      "FileVersion": {
        "x-box-resource-id": "file_version",
        "description": "A full representation of a file version",
        "allOf": [
          {
            "$ref": "#/components/schemas/FileVersion--Mini"
          },
          {
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the file version",
                "example": "tigers.jpeg"
              },
              "size": {
                "type": "integer",
                "format": "int64",
                "description": "Size of the file version in bytes",
                "example": 629644
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the file version object was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the file version object was last updated",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who last updated the file version"
                  }
                ]
              },
              "trashed_at": {
                "type": "string",
                "description": "When the file version object was trashed.",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "purged_at": {
                "type": "string",
                "description": "When the file version object was purged.",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "FileVersion--Mini": {
        "x-box-resource-id": "file_version--mini",
        "description": "A mini representation of a file version, used when\nnested under another resource.",
        "x-box-reference-hide": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "sha1": {
                "type": "string",
                "description": "The SHA1 hash of this file.",
                "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc"
              }
            }
          }
        ]
      },
      "FileVersionRetention": {
        "x-box-resource-id": "file_version_retention",
        "description": "A retention policy blocks permanent deletion of content\nfor a specified amount of time. Admins can apply policies to\nspecified folders, or an entire enterprise. A file version retention\nis a  record for a retained file version. To use this feature,\nyou must  have the manage retention policies scope enabled for your\nAPI key via  your application management console. For more information\nabout retention policies, please visit our help documentation",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "file_version": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FileVersion--Mini"
                  },
                  {
                    "description": "The file version this file version retention was\napplied to"
                  }
                ]
              },
              "file": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/File--Mini"
                  },
                  {
                    "description": "The file this file version retention was applied to"
                  }
                ]
              },
              "applied_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file version retention object was\ncreated",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "disposition_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the retention period expires on this file\nversion retention",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "winning_retention_policy": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RetentionPolicy--Mini"
                  },
                  {
                    "description": "The winning retention policy applied to this file\nversion retention. A file version can have multiple\nretention policies applied."
                  }
                ]
              }
            }
          }
        ]
      },
      "Folder": {
        "x-box-resource-id": "folder",
        "description": "A full representation of a folder, as can be returned from any\nfolder API endpoints by default",
        "x-box-reference-category": "folders",
        "allOf": [
          {
            "$ref": "#/components/schemas/Folder--Standard"
          },
          {
            "properties": {
              "sync_state": {
                "type": "string",
                "example": "synced",
                "description": "If Box Sync or Box Drive is allowed to sync this folder.",
                "enum": [
                  "synced",
                  "not_synced"
                ]
              },
              "has_collaborations": {
                "type": "boolean",
                "example": true,
                "description": "If this folder has any collaborators."
              },
              "permissions": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Permissions"
                  },
                  {
                    "description": "The permissions that the current user has\nfor this item"
                  }
                ]
              },
              "tags": {
                "type": "array",
                "example": [
                  "approved"
                ],
                "items": {
                  "type": "string"
                },
                "description": "The tags for this folder.\n\nTo add or remove a tag, retrieve the folder’s current tags,\nmodify them, and then update them using this field."
              },
              "can_non_owners_invite": {
                "type": "boolean",
                "example": true,
                "description": "If collaborators who are not\nfolder owners can invite new collaborators"
              },
              "is_externally_owned": {
                "type": "boolean",
                "example": true,
                "description": "If this folder is owned by a user outside of the enterprise."
              },
              "is_collaboration_restricted_to_enterprise": {
                "type": "boolean",
                "example": true,
                "description": "If future invites to this folder are restricted to users\nwithin the enterprise. This does not affect existing\ncollaborations."
              },
              "allowed_shared_link_access_levels": {
                "type": "array",
                "example": [
                  "open"
                ],
                "items": {
                  "type": "string"
                },
                "enum": [
                  "open",
                  "company",
                  "collaborators"
                ],
                "description": "The default access level settings for shared links as set\nby the administrator."
              },
              "allowed_invitee_roles": {
                "type": "array",
                "example": [
                  "open"
                ],
                "enum": [
                  "open",
                  "company",
                  "collaborators"
                ],
                "description": "The types of collaborations that have been allowed by the\nenterprise administrator.",
                "items": {
                  "type": "string"
                }
              },
              "watermark_info": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WatermarkInfo"
                  },
                  {
                    "description": "Information about the watermarking on this folder"
                  }
                ]
              }
            }
          }
        ]
      },
      "Folder--Standard": {
        "x-box-resource-id": "folder--standard",
        "description": "A standard representation of a folder, as returned from any\nfolder API endpoints by default",
        "x-box-reference-hide": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/Folder--Mini"
          },
          {
            "properties": {
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the folder was created.  May be `null` for some folders such\nas root or trash.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "description": {
                "type": "string",
                "description": "The description of the folder",
                "maxLength": 256,
                "example": "Some pictures I took"
              },
              "size": {
                "type": "integer",
                "format": "int64",
                "description": "The folder size in bytes.\n\nBe careful parsing this integer as it can easily\ngo into exponent notation.",
                "example": 629644
              },
              "path_collection": {
                "type": "array",
                "description": "The tree of folders that this folder is contained in,\nstarting at the root.",
                "items": {
                  "$ref": "#/components/schemas/Folder--Mini"
                }
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created this folder"
                  }
                ]
              },
              "modified_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who last modified this folder."
                  }
                ]
              },
              "trashed_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time at which this folder was put in the trash.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "purged_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time at which this folder will be purged from the trash.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "content_created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time at which this folder was originally created according\nto the uploader.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "content_modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the folder or its contents were last modified according to\nthe uploader.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time and which the folder will be automatically be deleted.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "owned_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who owns this folder."
                  }
                ]
              },
              "shared_link": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SharedLink"
                  },
                  {
                    "description": "The shared link object for this folder. Will be\n`null` if no shared link has been created."
                  }
                ]
              },
              "folder_upload_email": {
                "type": "object",
                "properties": {
                  "access": {
                    "type": "string",
                    "example": "open",
                    "enum": [
                      "open",
                      "collaborators"
                    ],
                    "description": "If set, users can email files to the automatically\ncreated email address to upload files to the\nfolder. To get the email address, request the\n`folder_upload_email` field for the folder after setting\nthis field.\n\nWhen set to `collaborators`, only emails from registered email\naddresses for collaborators will be accepted."
                  },
                  "email": {
                    "description": "The upload email address for this folder. This will be\n`null` if not enabled.",
                    "type": "string",
                    "format": "email",
                    "example": "upload.Picture.k13sdz1@u.box.com"
                  }
                }
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Folder--Mini"
                  },
                  {
                    "description": "The direct parent folder that this folder is located within.\n\nMay be `null` for folders such as root, trash and child folders\nwhose parent is inaccessible."
                  }
                ]
              },
              "item_status": {
                "type": "string",
                "description": "Whether this item is deleted or not.\n\nValues include `active` if the item has not been trashed,\n`trashed` if the item has been moved to the trash, and\n`deleted` if the item has been permanently deleted.",
                "enum": [
                  "active",
                  "trashed",
                  "deleted"
                ],
                "example": "active"
              },
              "item_collection": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ItemReference"
                },
                "description": "A collection of mini file and folder objects contained in this folder."
              }
            }
          }
        ]
      },
      "Folder--Mini": {
        "x-box-resource-id": "folder--mini",
        "description": "A mini representation of a file version, used when\nnested under another resource.",
        "x-box-reference-hide": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/ItemReference"
          },
          {
            "properties": {
              "sequence_id": {
                "type": "string",
                "example": "1",
                "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome folders, such as root or trash."
              },
              "etag": {
                "type": "string",
                "example": "1",
                "description": "The entity tag of this folder object. Used with `If-Match`\nheaders."
              },
              "name": {
                "type": "string",
                "description": "The name of the folder.",
                "example": "Pictures"
              }
            }
          }
        ]
      },
      "FolderUploadEmail": {
        "x-box-resource-id": "folder_upload_email",
        "type": "object",
        "description": "The writable Folder Upload Email object",
        "properties": {
          "access": {
            "type": "string",
            "example": "open",
            "enum": [
              "open",
              "collaborators"
            ],
            "description": "If set, users can email files to the automatically\ncreated email address to upload files to the\nfolder. To get the email address, request the\n`folder_upload_email` field for the folder after setting\nthis field.\n\nWhen set to `collaborators`, only emails from registered email\naddresses for collaborators will be accepted."
          }
        }
      },
      "Group": {
        "x-box-resource-id": "group",
        "description": "Groups contain a set of users, and can be used in place of\nusers in some operations, such as collaborations.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Group--Standard"
          },
          {
            "properties": {
              "provenance": {
                "type": "string",
                "description": "Keeps track of which external source this group is\ncoming from (e.g. \"Active Directory\", \"Google Groups\",\n\"Facebook Groups\").  Setting this will\nalso prevent Box users from editing the group name\nand its members directly via the Box web application.\nThis is desirable for one-way  syncing of groups.",
                "maxLength": 255,
                "example": "Active Directory"
              },
              "external_sync_identifier": {
                "type": "string",
                "description": "An arbitrary identifier that can be used by\nexternal group sync tools to link this Box Group to\nan external group. Example values of this field\ncould be an Active Directory Object ID or a Google\nGroup ID.  We recommend you use of this field in\norder to avoid issues when group names are updated in\neither Box or external systems.",
                "example": "AD:123456"
              },
              "description": {
                "type": "string",
                "description": "Human readable description of the group.",
                "maxLength": 255,
                "example": "Support Group - as imported from Active Directory"
              },
              "invitability_level": {
                "type": "string",
                "example": "admins_only",
                "description": "Specifies who can invite the group to collaborate\non folders (Create Collaboration).\n\nWhen set to `admins_only` the enterprise admin, co-admins,\nand the group's admin can invite the group.\n\nWhen set to `admins_and_members` all the admins listed\nabove and group members can invite the group.\n\nWhen set to `all_managed_users` all managed users in the\nenterprise can invite the group.",
                "enum": [
                  "admins_only",
                  "admins_and_members",
                  "all_managed_users"
                ]
              },
              "member_viewability_level": {
                "type": "string",
                "example": "admins_only",
                "description": "Specifies who can view the members of the group\n(Get Memberships for Group).\n\n* `admins_only - the enterprise admin, co-admins, group's\n  group admin\n* `admins_and_members` - all admins and group members\n* `all_managed_users` - all managed users in the\n  enterprise",
                "enum": [
                  "admins_only",
                  "admins_and_members",
                  "all_managed_users"
                ]
              }
            }
          }
        ]
      },
      "Group--Standard": {
        "x-box-resource-id": "group--standard",
        "description": "A standard representation of a group, as returned from any\ngroup API endpoints by default",
        "x-box-reference-hide": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/Group--Mini"
          },
          {
            "properties": {
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the group object was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the group object was last modified",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "Group--Mini": {
        "x-box-resource-id": "group--mini",
        "type": "object",
        "description": "Mini representation of a group, including id and name of\ngroup.",
        "x-box-reference-hide": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the group",
                "example": "Support"
              }
            }
          }
        ]
      },
      "GroupMembership": {
        "x-box-resource-id": "group_membership",
        "description": "Membership is used to signify that a user is part of a\ngroup.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "user": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user that the membership applies to"
                  }
                ]
              },
              "group": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Group--Mini"
                  },
                  {
                    "description": "The group that the membership applies to"
                  }
                ]
              },
              "role": {
                "type": "string",
                "example": "member",
                "description": "The role of the user in the group.",
                "enum": [
                  "member",
                  "admin"
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time this membership was created.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time this membership was last modified.",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "ItemReference": {
        "x-box-resource-id": "_item_reference",
        "description": "A generic mini representation of a file, folder, user or enterprise",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "sequence_id": {
                "type": "string",
                "example": "1",
                "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome items, such as root or trash."
              },
              "etag": {
                "type": "string",
                "example": "1",
                "description": "The entity tag of this item. Used with If-Match headers.\nMay be `null` for some folders such as root or trash."
              },
              "name": {
                "type": "string",
                "description": "The name of the item.",
                "example": "Pictures"
              }
            }
          }
        ]
      },
      "ItemReferenceCollection": {
        "x-box-resource-id": "item_references",
        "description": "A list of generic mini representations of a file, folder, user or enterprise",
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "properties": {
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ItemReference"
                }
              }
            }
          }
        ]
      },
      "LegalHold": {
        "x-box-resource-id": "file_version_legal_hold",
        "description": "File-Version-Legal-Hold is an entity representing all\nholds on a File Version.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "file_version": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FileVersion--Mini"
                  },
                  {
                    "description": "The file version that is held"
                  }
                ]
              },
              "file": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/File--Mini"
                  },
                  {
                    "description": "The file for the file version held.\nNote that there is no guarantee that the current\nversion of this file is held."
                  }
                ]
              },
              "legal_hold_policy_assignments": {
                "description": "List of assignments contributing to this Hold.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LegalHoldPolicyAssignment"
                }
              },
              "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Time that this File-Version-Legal-Hold was\ndeleted.",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "LegalHoldPolicy": {
        "x-box-resource-id": "legal_hold_policy",
        "description": "Legal Hold Policy information describes the basic\ncharacteristics of the Policy, such as name, description,\nand filter dates.",
        "allOf": [
          {
            "$ref": "#/components/schemas/LegalHoldPolicy--Mini"
          },
          {
            "properties": {
              "policy_name": {
                "type": "string",
                "example": "Policy 4",
                "description": "Name of the legal hold policy.",
                "maxLength": 254
              },
              "description": {
                "type": "string",
                "description": "Description of the legal hold policy. Optional\nproperty with a 500 character limit.",
                "maxLength": 500,
                "example": "Postman created policy"
              },
              "status": {
                "type": "string",
                "example": "active",
                "enum": [
                  "active",
                  "applying",
                  "releasing",
                  "released"
                ],
                "description": "* 'active' - the policy is not in a transition state\n* 'applying' - that the policy is in the process of\n  being applied\n* 'releasing' - that the process is in the process\n  of being released\n* 'released' - the policy is no longer active"
              },
              "assignment_counts": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AssignmentCounts"
                  },
                  {
                    "description": "Counts of assignments within this policy by apply-to type"
                  }
                ]
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created the legal hold policy object"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the legal hold policy object was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the legal hold policy object was modified.\nDoes not update when assignments are added or removed.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "deleted_at": {
                "type": "string",
                "format": "date-time",
[...]
