{
  "openapi": "3.0.2",
  "info": {
    "title": "Box Platform 2.0 APIs",
    "description": "The Box Content API gives you access to secure content management and content experience features for use in your own app. It strives to be RESTful and is organized around the main resources you’re familiar with from the Box web interface.",
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
    "contact": {
      "name": "Box Developer Relations",
      "url": "https://developer.box.com",
      "email": "devrel@box.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.box.com/2.0",
      "description": "Box Platform API server"
    }
  ],
  "paths": {
    "/authorize": {
      "get": {
        "operationId": "get_authorize",
        "summary": "Authorize a user",
        "description": "Authorize a user by sending them through [Box](https://box.com).\n\nTo begin the process of authenticating user and authorizing your\napplication to work with the Box APIs, you will need to send a\nuser to a URL with this format.",
        "tags": [
          "Authorization"
        ],
        "security": [],
        "servers": [
          {
            "url": "https://account.box.com/api/oauth2",
            "description": "Server for client-side authentication"
          }
        ],
        "parameters": [
          {
            "name": "response_type",
            "description": "The string value `\"code\"` is the only current value we support\nfor the OAuth2 grant type.",
            "in": "query",
            "example": "5idyGSFuf54zrvKm",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "client_id",
            "description": "The Client ID of the application that is requesting to authenticate\nthe user. To get the Client ID for your application, log in to your\nBox developer console and click the **Edit Application** link for\nthe application you're working with. In the OAuth2 Parameters section\nof the configuration page, find the item labeled **client_id**. The\ntext of that item is your application's Client ID.",
            "in": "query",
            "example": "ly1nj6n11vionaie65emwzk575hnnmrk",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "description": "The URL to which Box redirects the browser after the user has granted\nor rejected the application permission. This URL must match the\nredirect URL in the configuration of your application. It must be a\nvalid HTTPS URL and it needs to be able to handle the redirection to\ncomplete the next step in the OAuth2 flow.",
            "in": "query",
            "example": "http://example.com/auth/callback",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "description": "A custom string of your choice. Box will pass the same string to\nthe redirect URL when authentication is complete. This parameter\ncan be used to identify a user on redirect, as well as protect\nagainst hijacked sessions and other attacks.",
            "in": "query",
            "example": "my_state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "A comma-separated list of application scopes you'd like to\nauthenticate the user for. This defaults to all the scopes configured\nfor the application in its configuration page.",
            "in": "query",
            "example": "admin_readwrite",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A login and approval page",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "post_oauth2_token",
        "summary": "Request an Access Token",
        "description": "Request an Access Token using either client-side obtained OAuth2\nauthorization code or a JWT assertion.\n\nAn access token is a data string that enables Box to verify that a\nrequest belongs to an authorized session. In the normal order of operations\nyou will begin by requesting authentication from the Box authorize endpoint\nand Box will send you an authorization code. You will then send this code\nto this endpoint to exchange it for an access token.\n\nThe returned Access Token can then be used to to make Box API calls.",
        "tags": [
          "Authorization"
        ],
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "A generic authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/revoke": {
      "post": {
        "operationId": "post_oauth2_revoke",
        "summary": "Revoke an Access Token",
        "description": "This is the URL of the Box revoke endpoint, the endpoint that revokes access\ntokens, or to put it another way, the endpoint that ends sessions, logging\nusers out.",
        "tags": [
          "Authorization"
        ],
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRevocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The access token has been revoked"
          },
          "400": {
            "description": "An OAuth2 error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}": {
      "get": {
        "operationId": "get_folders_id",
        "summary": "Retrieve a folder",
        "tags": [
          "Folder"
        ],
        "description": "Retrieve the details about a folder, including the first 100 entries in the\nfolder.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder to retrieve. The root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of folder attributes to include in the\nresponse. This can be used to request fields that are not normally\nreturned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A standard folder object, including the first 100 entries in the folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "A client error can occur of the user does not have access to the folder,\nthe folder does not exists, or incorrect parameters are passed in the\nrequest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_folders_id",
        "summary": "Update Folder, Create Shared Link, Create or Delete",
        "description": "Used to update information about the folder. To move a folder, update the ID\nof its parent. To enable an email address that can be used to upload files to\nthis folder, update the folder_upload_email attribute. An optional If-Match\nheader can be included to ensure that client only updates the folder if it\nknows about the latest version.\n\n\nUsed to create a shared link for this particular folder. Please see here for\nmore information on the permissions available for shared links. In order to\nget default shared link status, set it to an empty access level, i.e.\n`{\"shared_link\": {}}`. In order to disable a shared link, send this same type\nof `PUT` request with the value of shared_link set to null, i.e.\n`{\"shared_link\": null}`\n\n\nTo add or remove an item from a collection, you do a PUT on that item and\nchange the list of collections it belongs to. Philosophically, this is similar\nto the way \"move\" operations work on files and folders - you do a `PUT` on the\nitem and change its parent. It’s the same idea with collections, except you’re\nchanging which collection(s) the item belongs to instead of the folder it\nbelongs to. Currently the only collection available is the favorites\ncollection, and you’ll need to know it’s ID for the user that is making the\nAPI call, since every user has a different favorites collection_id.\n\nThe Add/Remove API handling will check all ids passed in before performing any\nadd/removal operations. If any collection ids are malformed or do not exist in\nthe user’s account, the API call will throw a 400. Only if all of the\ncollection ids are valid will the adds and removals be carried out.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "example": "123456",
            "description": "The ID of the folder to update. The root folder of a Box account is\nalways represented by the id \"0\".",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "Attribute(s) to include in the response",
            "in": "query",
            "example": "id,name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "description": "This is in the `etag` field of the folder object.",
            "example": "1",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The desired name for the folder",
                    "example": "New Folder"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the folder.",
                    "example": "Some pictures I took"
                  },
                  "sync_state": {
                    "type": "string",
                    "example": "synced",
                    "description": "Whether Box Sync clients will sync this folder. Values\nof `synced` or` not_synced` can be sent.",
                    "enum": [
                      "synced",
                      "not_synced"
                    ]
                  },
                  "can_non_owners_invite": {
                    "type": "boolean",
                    "example": true,
                    "description": "If this parameter is set to false, only folder owners and\nco-owners can send collaborator invites"
                  },
                  "is_collaboration_restricted_to_enterprise": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether to restrict future collaborations to within the\nenterprise. Does not affect existing collaborations."
                  },
                  "parent": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the parent folder",
                        "example": "11446498"
                      }
                    }
                  },
                  "shared_link": {
                    "type": "object",
                    "properties": {
                      "access": {
                        "type": "string",
                        "description": "The level of access. Can be `open` (\"People with the link\"),\n`company` (\"People in your company\"), or `collaborators`\n(\"People in this folder\").\n\nIf you omit this field then the access level will be set to\nthe default access level specified by the enterprise admin.",
                        "enum": [
                          "open",
                          "company",
                          "collaborators"
                        ],
                        "example": "open"
                      },
                      "password": {
                        "type": "string",
                        "description": "The password required to access the shared link. Set to null\nto remove the password.",
                        "example": "do-not-use-this-password"
                      },
                      "unshared_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2012-12-12T10:53:43-08:00",
                        "description": "The date-time that this link will become disabled. This field\ncan only be set by users with paid accounts."
                      },
                      "permissions": {
                        "type": "object",
                        "properties": {
                          "can_download": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether the shared link allows downloads. For shared links\non folders, this also applies to any items in the folder.\nCan only be set with access levels `open` and `company`\n(not `collaborators`)."
                          }
                        }
                      }
                    }
                  },
                  "folder_upload_email": {
                    "type": "object",
                    "properties": {
                      "access": {
                        "type": "string",
                        "example": "open",
                        "description": "Can be `open` or `collaborators`"
                      }
                    }
                  },
                  "owned_by": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "123456",
                        "description": "The ID of the user (should be your own user ID)"
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "example": [
                      "approved"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "description": "The tags to attach this folder. To add/remove a tag to/from a\nfolder, you can first get the folder’s current tags, then modify\nthe list as required. Finally, set the folder’s entire list of\ntags."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated folder",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "201": {
            "description": "When 'collections' is specified in body the folder is moved into\ncollection with the ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "Update Folder info error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_folders_id",
        "summary": "Delete a folder",
        "description": "Permanently delete a folder. This can normally not be undone.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder to delete.",
            "in": "path",
            "required": true,
            "example": "123456",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "description": "Delete a folder that is not empty by recursively deleting the\nfolder and all of its content.",
            "in": "query",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "If-Match",
            "description": "Ensure a folder is only deleted if its `etag` matches the\n`etag` passed in this header.",
            "in": "header",
            "required": false,
            "example": 1,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the folder is successfully deleted."
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/items": {
      "get": {
        "operationId": "get_folders_id_items",
        "summary": "Get Folder’s Items",
        "tags": [
          "Folder"
        ],
        "description": "Retrieves the files and/or folders contained within this folder without any\nother metadata about the folder. Any attribute in the full files or folders\nobjects can be passed in with the fields parameter to get specific attributes,\nand only those specific attributes back; otherwise, the mini format is\nreturned for each item by default.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder to fetch items for",
            "example": "123456",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "File/folder attribute(s) to include for the items returned",
            "example": "id,name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return in a page.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "description": "The offset at which to begin the response. An offset of value of 0 will\nstart at the beginning of the folder-listing. Note that if there are\nhidden items in your previous response, your next offset should be the\noffset plus the limit, not the number of records you received back.",
            "in": "query",
            "required": false,
            "example": 5000,
            "schema": {
              "type": "string",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of items contained in the folder is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemReferenceCollection"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders": {
      "post": {
        "operationId": "post_folders",
        "summary": "Create Folder",
        "tags": [
          "Folder"
        ],
        "description": "Used to create a new empty folder. The new folder will be created inside of\nthe specified parent folder",
        "parameters": [
          {
            "name": "fields",
            "description": "Attribute(s) to include in the response",
            "in": "query",
            "example": "id,name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The desired name for the folder",
                    "example": "New Folder"
                  },
                  "parent": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the parent folder",
                        "example": "11446498"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A full folder object is returned if the parent folder ID is valid and if\nno name collisions occur.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/copy": {
      "post": {
        "operationId": "post_folders_id_copy",
        "summary": "Copy Folder",
        "description": "Used to create a copy of a folder in another folder. The original version of\nthe folder will not be altered.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder to copy",
            "example": "123456",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "Attribute(s) to include in the response",
            "example": "id,name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "An optional new name for the folder",
                    "example": "New Folder"
                  },
                  "parent": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the destination folder",
                        "example": "11446498"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A full folder object is returned if the ID is valid and if the update is\nsuccessful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "409": {
            "description": "If the intended destination folder is the same, as this will cause a name\ncollision.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "Copy folder operation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/collaborations": {
      "get": {
        "operationId": "get_folders_id_collaborations",
        "summary": "Get Folder Collaborations",
        "description": "Use this to get a list of all the collaborations on a folder i.e. all of the\nusers that have access to that folder.",
        "tags": [
          "Folder"
        ],
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder to get collaborations for",
            "example": "123456",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "Attribute(s) to include in the response",
            "example": "id,name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return in a page. The default is 100 and\nthe max is 1000.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "description": "The item at which to begin the response",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of collaboration objects are returned. If there are no\ncollaborations on this folder, an empty collection will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollaborationCollection"
                }
              }
            }
          },
          "default": {
            "description": "Get folder collaborations operation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2Security": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://account.box.com/api/oauth2/authorize",
            "tokenUrl": "https://api.box.com/oauth2/token",
            "scopes": {
              "root_readonly": "Read all files and folders stored in Box",
              "root_readwrite": "Read and write all files and folders stored in Box",
              "manage_app_users": "Provision and manage app users",
              "manage_managed_users": "Provision and manage managed users",
              "manage_groups": "Manage an enterprise's groups",
              "manage_webhook": "Create webhooks programmatically through the API",
              "manage_enterprise_properties": "Manage enterprise properties",
              "manage_data_retention": "Manage data retention polices",
              "manage_legal_hold": "Manage Legal Holds"
            }
          }
        }
      }
    },
    "schemas": {
      "AccessToken": {
        "description": "A token that can be used to make authenticated API calls",
        "allOf": [
          {
            "$ref": "#/components/schemas/AccessToken--Mini"
          },
          {
            "properties": {
              "refresh_token": {
                "type": "string",
                "format": "token",
                "example": "c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ",
                "description": "The refresh token for this access token, which can be used\nto request a new access token when the current one expires."
              },
              "issued_token_type": {
                "type": "string",
                "example": "urn:ietf:params:oauth:token-type:access_token",
                "enum": [
                  "urn:ietf:params:oauth:token-type:access_token"
                ],
                "description": "The type of downscoped access token returned. This is only\nreturned if an access token has been downscoped."
              }
            }
          }
        ]
      },
      "AccessToken--Mini": {
        "description": "The basics of an access token",
        "properties": {
          "access_token": {
            "type": "string",
            "format": "token",
            "example": "c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ",
            "description": "The requested access token."
          },
          "expires_in": {
            "type": "integer",
            "format": "int64",
            "example": 3600,
            "description": "The time in seconds in seconds by which this token will expire."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "bearer"
            ],
            "example": "bearer",
            "description": "The type of access token returned."
          },
          "restricted_to": {
            "type": "array",
            "example": "[{ object: <File...>, scope: \"annotation_view_self\"}]",
            "description": "The permissions that this access token permits,\nproviding a list of resources (files, folders, etc)\nand the scopes permitted for each of those resources.",
            "items": {
              "$ref": "#/components/schemas/FileScope"
            }
          }
        }
      },
      "AssignmentCounts": {
        "description": "Counts of assignments within this a legal hold policy by item type",
        "properties": {
          "user": {
            "type": "integer",
            "format": "int64",
            "description": "The number of users this policy is applied to",
            "example": 1
          },
          "folder": {
            "type": "integer",
            "format": "int64",
            "description": "The number of folders this policy is applied to",
            "example": 2
          },
          "file": {
            "type": "integer",
            "format": "int64",
            "description": "The number of files this policy is applied to",
            "example": 3
          },
          "file_version": {
            "type": "integer",
            "format": "int64",
            "description": "The number of file versions this policy is applied to",
            "example": 4
          }
        }
      },
      "ClientError": {
        "description": "A generic error",
        "properties": {
          "type": {
            "description": "Always `error`",
            "example": "`error`",
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "status": {
            "description": "The HTTP status of the response.",
            "example": 400,
            "type": "integer",
            "format": "int32"
          },
          "code": {
            "description": "A Box-specific error code",
            "example": "item_name_invalid",
            "type": "string"
          },
          "help_url": {
            "description": "A URL that links to more information about why the error occurred.",
            "example": "http://developers.box.com/docs/#errors",
            "type": "string"
          },
          "message": {
            "description": "A human-readable message describing the error.",
            "example": "Item name invalid",
            "type": "string"
          },
          "request_id": {
            "description": "The unique ID for this request as can be used when contacting\nBox support.",
            "type": "string",
            "example": "abcdef123456"
          }
        }
      },
      "Collaboration": {
        "description": "Collaborations define access permissions for users and groups to files and\nfolders, similar to access control lists. A collaboration object grants a\nuser or group access to a file or folder with permissions defined by a\nspecific role.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "item": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ItemReference"
                  },
                  {
                    "description": "The file or folder that access is granted to"
                  }
                ]
              },
              "accessible_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user or group that is granted access"
                  }
                ]
              },
              "invite_email": {
                "type": "string",
                "example": "john@example.com",
                "description": "The email address used to invite an unregistered collaborator, if\nthey are not a registered user."
              },
              "role": {
                "type": "string",
                "example": "editor",
                "enum": [
                  "editor",
                  "viewer",
                  "previewer",
                  "uploader",
                  "preview uploader",
                  "viewer uploader",
                  "co-owner",
                  "owner"
                ],
                "description": "The level of access granted."
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "When the collaboration will expire"
              },
              "can_view_path": {
                "type": "boolean",
                "example": true,
                "description": "Whether the \"view path collaboration\" feature is enabled or not. View\npath collaborations allow the invitee to see the entire parent path to\nthe item. View path collaboration does not grant privileges in any\nparent folder (e.g. cannot see content the user is not collaborated\non), other than the permission to view the parent path."
              },
              "status": {
                "type": "string",
                "example": "accepted",
                "enum": [
                  "accepted",
                  "pending",
                  "rejected"
                ],
                "description": "The status of the collaboration invitation."
              },
              "acknowledged_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "When the `status` of the collaboration object changed to\n`accepted` or `rejected`"
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created the collaboration object"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "When the collaboration object was created"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "When the collaboration object was last modified"
              }
            }
          }
        ]
      },
      "CollaborationCollection": {
        "description": "A list of collaborations",
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "properties": {
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Collaboration"
                }
              }
            }
          }
        ]
      },
      "CollaborationWhitelistEntry": {
        "description": "A Collaboration Whitelist entry describes an\napproved domains that can collaborate with your enterprise",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "domain": {
                "type": "string",
                "example": "example.com",
                "description": "The whitelisted domain"
              },
              "direction": {
                "type": "string",
                "example": "both",
                "description": "The direction of the collaborations to whitelist",
                "enum": [
                  "inbound",
                  "outbound",
                  "both"
                ]
              },
              "enterprise": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Enterprise"
                  },
                  {
                    "description": "The enterprise this whitelist is applied to"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the whitelist entry was created",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "CollaborationWhitelistExemptTarget": {
        "description": "The record that represents a target user that is exempt from the\ncollaboration whitelist.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "enterprise": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Enterprise"
                  },
                  {
                    "description": "The enterprise this entry belongs to"
                  }
                ]
              },
              "user": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Enterprise"
                  },
                  {
                    "description": "The user that has been exempt"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the entry was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the entry was modified",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "Comment": {
        "description": "Comments are messages created on files. Comments\ncan be made independently or created as responses to other\ncomments",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Comment--Standard"
          },
          {
            "properties": {
              "tagged_message": {
                "type": "string",
                "example": "@[1234567:Aaron Levie] these tigers are cool!",
                "description": "The string representing the comment text with\n@mentions included. @mention format is @[id:username]\nwhere `id` is user's Box ID an username is\ntheir display name."
              }
            }
          }
        ]
      },
      "Comment--Standard": {
        "description": "Standard representation of a comment, as returned by the\ncomment API endpoints and when nested within other resources.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "is_reply_comment": {
                "type": "boolean",
                "description": "Whether or not this comment is a reply to another\ncomment",
                "example": true
              },
              "message": {
                "type": "string",
                "example": "@Aaron Levie these tigers are cool!",
                "description": "The text of the comment, as provided by the user"
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "A mini user object representing the author of the\ncomment"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time this comment was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time this comment was last modified",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "item": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ItemReference"
                  },
                  {
                    "description": "The object this comment was placed on"
                  }
                ]
              }
            }
          }
        ]
      },
      "DevicePinner": {
        "description": "Device pins allow enterprises to control what devices can\nuse native Box applications.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "owned_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user that the device pin belongs to"
                  }
                ]
              },
              "product_name": {
                "type": "string",
                "description": "The type of device being pinned",
                "example": "iPad"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the device pin was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the device pin was modified",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "Enterprise": {
        "description": "A representation of a Box enterprise",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "name": {
                "description": "The name of the enterprise",
                "example": "Acme Inc.",
                "type": "string"
              }
            }
          }
        ]
      },
      "Event": {
        "description": "The description of an event that happened within Box",
        "properties": {
          "type": {
            "description": "`event`",
            "type": "string",
            "example": "event"
          },
          "event_id": {
            "type": "string",
            "example": "f82c3ba03e41f7e8a7608363cc6c0390183c3f83",
            "description": "The ID of the event object. You can use this to detect duplicate events"
          },
          "created_by": {
            "allOf": [
              {
                "$ref": "#/components/schemas/User--Mini"
              },
              {
                "description": "The user that performed the action represented by the event.\nSome events may be performed by users not logged into Box.\nIn that case, not all attributes of the object are populated and the\nevent is attributed to a unknown user (`user_id = 2`)"
              }
            ]
          },
          "event_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventType"
              },
              {
                "description": "The event type that triggered this event"
              }
            ]
          },
          "session_id": {
            "type": "string",
            "example": "70090280850c8d2a1933c1",
            "description": "The session of the user that performed the action. Not all events will\npopulate this attribute."
          },
          "source": {
            "type": "object",
            "allOf": [
              {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/File--Standard"
                  },
                  {
                    "$ref": "#/components/schemas/Folder--Standard"
                  },
                  {
                    "$ref": "#/components/schemas/Comment"
                  }
                ]
              },
              {
                "description": "The object that triggered this event"
              }
            ]
          },
          "additional_details": {
            "type": "object",
            "example": "",
            "description": "This object provides additional information about the event if available.\n\nThis can include how a user performed an event as well as additional\ninformation to correlate an event to external Keysafe logs. Not all events\nhave an additional_details object.  This object is only available in the\nEnterprise Events."
          }
        }
      },
      "EventType": {
        "example": "FILE.UPLOADED",
        "type": "string",
        "description": "An event type that can trigger an event",
        "enum": [
          "ACCESS_GRANTED",
          "ACCESS_REVOKED",
          "ADD_DEVICE_ASSOCIATION",
          "ADD_LOGIN_ACTIVITY_DEVICE",
          "ADMIN_LOGIN",
          "APPLICATION_CREATED",
          "APPLICATION_PUBLIC_KEY_ADDED",
          "APPLICATION_PUBLIC_KEY_DELETED",
          "CHANGE_ADMIN_ROLE",
          "CHANGE_FOLDER_PERMISSION",
          "COLLABORATION_ACCEPT",
          "COLLABORATION_EXPIRATION",
          "COLLABORATION_INVITE",
          "COLLABORATION_REMOVE",
          "COLLABORATION_ROLE_CHANGE",
          "COLLAB_ADD_COLLABORATOR",
          "COLLAB_INVITE_COLLABORATOR",
          "COLLAB_REMOVE_COLLABORATOR",
          "COLLAB_ROLE_CHANGE",
          "COMMENT_CREATE",
          "COMMENT_DELETE",
          "CONTENT_WORKFLOW_ABNORMAL_DOWNLOAD_ACTIVITY",
          "CONTENT_WORKFLOW_AUTOMATION_ADD",
          "CONTENT_WORKFLOW_AUTOMATION_DELETE",
          "CONTENT_WORKFLOW_POLICY_ADD",
          "CONTENT_WORKFLOW_SHARING_POLICY_VIOLATION",
          "CONTENT_WORKFLOW_UPLOAD_POLICY_VIOLATION",
          "COPY",
          "DATA_RETENTION_CREATE_RETENTION",
          "DATA_RETENTION_REMOVE_RETENTION",
          "DELETE",
          "DELETE_USER",
          "DEVICE_TRUST_CHECK_FAILED",
          "DOWNLOAD",
          "EDIT",
          "EDIT_USER",
          "EMAIL_ALIAS_CONFIRM",
          "EMAIL_ALIAS_REMOVE",
          "ENABLE_TWO_FACTOR_AUTH",
          "FAILED_LOGIN",
          "FILE_MARKED_MALICIOUS",
          "FILE_WATERMARKED_DOWNLOAD",
          "GROUP_ADD_ITEM",
          "GROUP_ADD_USER",
          "GROUP_CREATION",
          "GROUP_DELETION",
          "GROUP_EDITED",
          "GROUP_REMOVE_ITEM",
          "GROUP_REMOVE_USER",
          "ITEM_COPY",
          "ITEM_CREATE",
          "ITEM_DOWNLOAD",
          "ITEM_MAKE_CURRENT_VERSION",
          "ITEM_MODIFY",
          "ITEM_MOVE",
          "ITEM_OPEN",
          "ITEM_PREVIEW",
          "ITEM_RENAME",
          "ITEM_SHARED",
          "ITEM_SHARED_CREATE",
          "ITEM_SHARED_UNSHARE",
          "ITEM_SHARED_UPDATE",
          "ITEM_SYNC",
          "ITEM_TRASH",
          "ITEM_UNDELETE_VIA_TRASH",
          "ITEM_UNSYNC",
          "ITEM_UPLOAD",
          "LEGAL_HOLD_ASSIGNMENT_CREATE",
          "LEGAL_HOLD_ASSIGNMENT_DELETE",
          "LEGAL_HOLD_POLICY_CREATE",
          "LEGAL_HOLD_POLICY_DELETE",
          "LEGAL_HOLD_POLICY_UPDATE",
          "LOCK",
          "LOCK_CREATE",
          "LOCK_DESTROY",
          "LOGIN",
          "MASTER_INVITE_ACCEPT",
          "MASTER_INVITE_REJECT",
          "METADATA_INSTANCE_CREATE",
          "METADATA_INSTANCE_DELETE",
          "METADATA_INSTANCE_UPDATE",
          "METADATA_TEMPLATE_CREATE",
          "METADATA_TEMPLATE_DELETE",
          "METADATA_TEMPLATE_UPDATE",
          "MOVE",
          "NEW_USER",
          "PREVIEW",
          "REMOVE_DEVICE_ASSOCIATION",
          "REMOVE_LOGIN_ACTIVITY_DEVICE",
          "RENAME",
          "RETENTION_POLICY_ASSIGNMENT_ADD",
          "SHARE",
          "SHARE_EXPIRATION",
          "STORAGE_EXPIRATION",
          "TAG_ITEM_CREATE",
          "TASK_ASSIGNMENT_CREATE",
          "TASK_ASSIGNMENT_DELETE",
          "TASK_ASSIGNMENT_UPDATE",
          "TASK_CREATE",
          "TASK_UPDATE",
          "TERMS_OF_SERVICE_ACCEPT",
          "TERMS_OF_SERVICE_REJECT",
          "UNDELETE",
          "UNLOCK",
          "UNSHARE",
          "UPDATE_COLLABORATION_EXPIRATION",
          "UPDATE_SHARE_EXPIRATION",
          "UPLOAD",
          "USER_AUTHENTICATE_OAUTH2_ACCESS_TOKEN_CREATE",
          "WATERMARK_LABEL_CREATE",
          "WATERMARK_LABEL_DELETE"
        ]
      },
      "File": {
        "description": "A full representation of a file, as can be returned from any\nfile API endpoints by default",
        "allOf": [
          {
            "$ref": "#/components/schemas/File--Standard"
          },
          {
            "properties": {
              "version_number": {
                "type": "string",
                "example": 1,
                "description": "The version number of this file"
              },
              "comment_count": {
                "type": "integer",
                "example": 10,
                "description": "The number of comments on this file"
              },
              "permissions": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Permissions"
                  },
                  {
                    "description": "An object containing the permissions that the current user has\nfor this item"
                  }
                ]
              },
              "tags": {
                "type": "array",
                "example": [
                  "approved"
                ],
                "items": {
                  "type": "string"
                },
                "description": "All tags applied to this folder."
              },
              "lock": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Lock"
                  },
                  {
                    "description": "The lock held on this file. If there is no lock, this can either\nbe `null` or have a timestamp in the past."
                  }
                ]
              },
              "extension": {
                "type": "string",
                "example": "png",
                "description": "Indicates the suffix, when available, on the file. By default,\nset to an empty string. The suffix usually indicates the encoding\n(file format) of the file contents or usage."
              },
              "is_package": {
                "type": "boolean",
                "example": true,
                "description": "Whether the file is a package. Used for Mac Packages used by iWorks."
              },
              "expiring_embed_link": {
                "type": "string",
                "example": "https://app.box.com/preview/expiring_embed/gvoct6FE!",
                "description": "An expiring URL for an embedded preview session in an iframe.\nThis URL will expire after 60 seconds and the session will\nexpire after 60 minutes."
              },
              "watermark_info": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WatermarkInfo"
                  },
                  {
                    "description": "Information about the watermarking on this file"
                  }
                ]
              },
              "allowed_invitee_roles": {
                "type": "array",
                "description": "Folder [collaboration](#collaboration-object) roles allowed by the\nenterprise administrator.",
                "items": {
                  "type": "string"
                }
              },
              "is_externally_owned": {
                "type": "boolean",
                "example": true,
                "description": "Whether this file is owned by a user outside of the enterprise."
              },
              "has_collaborations": {
                "type": "boolean",
                "example": true,
                "description": "Whether this file has any collaborators."
              },
              "metadata": {
                "type": "object",
                "description": "The scope of the metadata",
                "example": "global",
                "additionalProperties": {
                  "type": "object",
                  "description": "The template name for the metadata",
                  "example": "properties",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        ]
      },
      "File--Standard": {
        "description": "A standard representation of a file, as returned from any\nfile API endpoints by default",
        "allOf": [
          {
            "$ref": "#/components/schemas/File--Mini"
          },
          {
            "properties": {
              "sha1": {
                "type": "string",
                "format": "hash",
                "example": "85136C79CBF9FE36BB9D05D0639C70C265C18D37",
                "description": "The SHA1 hash of the file."
              },
              "description": {
                "type": "string",
                "description": "The description of the file",
                "maxLength": 256,
                "example": "Some pictures I took"
              },
              "size": {
                "type": "integer",
                "description": "The file size in bytes. Be careful parsing this integer, it can\neasily go into [exponent notation](http://en.wikipedia.org/wiki/\\\nDouble-precision_floating-point_format).",
                "example": 629644
              },
              "path_collection": {
                "type": "array",
                "description": "The path of folders to this file, starting at the root",
                "items": {
                  "$ref": "#/components/schemas/Folder--Mini"
                }
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was upload to Box’s servers",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was last updated on the Box servers",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "trashed_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was last moved to the trash",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "purged_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file will be permanently deleted",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "content_created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was created originally",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "content_modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file was last updated",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the file will automatically be deleted",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created this file"
                  }
                ]
              },
              "modified_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who last modified this file"
                  }
                ]
              },
              "owned_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who owns this file"
                  }
                ]
              },
              "shared_link": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SharedLink"
                  },
                  {
                    "description": "The shared link object for this file. Will be\n`null` if no shared link has been created."
                  }
                ]
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Folder--Mini"
                  },
                  {
                    "description": "The folder that contains this file."
                  }
                ]
              },
              "item_status": {
                "type": "string",
                "example": "active",
                "enum": [
                  "active",
                  "trashed",
                  "deleted"
                ],
                "description": "Whether this item is deleted or not. Values include `active`,\n`trashed` if the file has been moved to the trash, and `deleted` if\nthe file has been permanently deleted"
              }
            }
          }
        ]
      },
      "File--Mini": {
        "description": "A mini representation of a file, used when\nnested under another resource.",
        "allOf": [
          {
            "$ref": "#/components/schemas/ItemReference"
          },
          {
            "properties": {
              "sequence_id": {
                "type": "string",
                "example": "1",
                "description": "A unique ID for use with the /events endpoint"
              },
              "etag": {
                "type": "string",
                "example": "1",
                "description": "The entity tag of this file object. Used with `If-Match`\nheaders."
              },
              "name": {
                "type": "string",
                "description": "The name of the file",
                "example": "Pictures"
              }
            }
          }
        ]
      },
      "FileScope": {
        "description": "A relation between a file and the scopes for which the file can be accessed",
        "properties": {
          "object": {
            "allOf": [
              {
                "$ref": "#/components/schemas/File"
              },
              {
                "description": "The file for which the file can be accessed"
              }
            ]
          },
          "scope": {
            "type": "string",
            "description": "The file scopes for the file access",
            "example": "item_download",
            "enum": [
              "annotation_edit",
              "annotation_view_all",
              "annotation_view_self",
              "base_explorer",
              "base_picker",
              "base_preview",
              "base_upload",
              "item_delete",
              "item_download",
              "item_preview",
              "item_rename",
              "item_share",
              "item_upload"
            ]
          }
        }
      },
      "FileVersion": {
        "description": "A full representation of a file version",
        "allOf": [
          {
            "$ref": "#/components/schemas/FileVersion--Mini"
          },
          {
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the file version",
                "example": "tigers.jpeg"
              },
              "size": {
                "type": "integer",
                "format": "int64",
                "description": "Size of the file version in bytes",
                "example": 629644
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the file version object was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the file version object was last updated",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who last updated the file version"
                  }
                ]
              },
              "trashed_at": {
                "type": "string",
                "description": "When the file version object was trashed.",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "purged_at": {
                "type": "string",
                "description": "When the file version object was purged.",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "FileVersion--Mini": {
        "description": "A mini representation of a file version, used when\nnested under another resource.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "sha1": {
                "type": "string",
                "description": "The SHA1 hash of this file.",
                "example": "134b65991ed521fcfe4724b7d814ab8ded5185dc"
              }
            }
          }
        ]
      },
      "FileVersionRetention": {
        "description": "A retention policy blocks permanent deletion of content\nfor a specified amount of time. Admins can apply policies to\nspecified folders, or an entire enterprise. A file version retention\nis a  record for a retained file version. To use this feature,\nyou must  have the manage retention policies scope enabled for your\nAPI key via  your application management console. For more information\nabout retention policies, please visit our help documentation",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "file_version": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FileVersion--Mini"
                  },
                  {
                    "description": "The file version this file version retention was\napplied to"
                  }
                ]
              },
              "file": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/File--Mini"
                  },
                  {
                    "description": "The file this file version retention was applied to"
                  }
                ]
              },
              "applied_at": {
                "type": "string",
                "format": "date-time",
                "description": "When this file version retention object was\ncreated",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "disposition_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the retention period expires on this file\nversion retention",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "winning_retention_policy": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/RetentionPolicy--Mini"
                  },
                  {
                    "description": "The winning retention policy applied to this file\nversion retention. A file version can have multiple\nretention policies applied."
                  }
                ]
              }
            }
          }
        ]
      },
      "Folder": {
        "description": "A full representation of a folder, as can be returned from any\nfolder API endpoints by default",
        "allOf": [
          {
            "$ref": "#/components/schemas/Folder--Standard"
          },
          {
            "properties": {
              "sync_state": {
                "type": "string",
                "example": "synced",
                "enum": [
                  "synced",
                  "not_synced",
                  "partially_synced"
                ],
                "description": "Whether this folder will be synced by the Box sync clients or not. Can\nbe `synced`, `not_synced`, or `partially_synced`."
              },
              "has_collaborations": {
                "type": "boolean",
                "example": true,
                "description": "Whether this folder has any collaborators."
              },
              "permissions": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Permissions"
                  },
                  {
                    "description": "An object containing the permissions that the current user has\nfor this item"
                  }
                ]
              },
              "tags": {
                "type": "array",
                "example": [
                  "approved"
                ],
                "items": {
                  "type": "string"
                },
                "description": "All tags applied to this folder."
              },
              "can_non_owners_invite": {
                "type": "boolean",
                "example": true,
                "description": "Whether non-owners can invite collaborators to this folder."
              },
              "is_externally_owned": {
                "type": "boolean",
                "example": true,
                "description": "Whether this folder is owned by a user outside of the enterprise."
              },
              "is_collaboration_restricted_to_enterprise": {
                "type": "boolean",
                "example": true,
                "description": "Whether future collaborations should be restricted to within the\nenterprise only."
              },
              "allowed_shared_link_access_levels": {
                "type": "array",
                "example": "open",
                "enum": [
                  "open",
                  "company",
                  "collaborators"
                ],
                "description": "Access level settings for shared links set by administrator. Can\ninclude `open`, `company`, or `collaborators`."
              },
              "allowed_invitee_roles": {
                "type": "array",
                "description": "Folder [collaboration](#collaboration-object) roles allowed by the\nenterprise administrator.",
                "items": {
                  "type": "string"
                }
              },
              "watermark_info": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/WatermarkInfo"
                  },
                  {
                    "description": "Information about the watermarking on this folder"
                  }
                ]
              },
              "metadata": {
                "type": "object",
                "description": "The scope of the metadata",
                "example": "global",
                "additionalProperties": {
                  "type": "object",
                  "description": "The template name for the metadata",
                  "example": "properties",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Metadata"
                  }
                }
              }
            }
          }
        ]
      },
      "Folder--Standard": {
        "description": "A standard representation of a folder, as returned from any\nfolder API endpoints by default",
        "allOf": [
          {
            "$ref": "#/components/schemas/Folder--Mini"
          },
          {
            "properties": {
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the folder was created.  May be `null` for some folders such\nas root or trash.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "description": {
                "type": "string",
                "description": "The description of the folder.",
                "maxLength": 256,
                "example": "Some pictures I took"
              },
              "size": {
                "type": "integer",
                "description": "The folder size in bytes. Be careful parsing this integer, it can\neasily go into [exponent notation](http://en.wikipedia.org/wiki/\\\nDouble-precision_floating-point_format).",
                "example": 629644
              },
              "path_collection": {
                "type": "array",
                "description": "The path of folders to this folder, starting at the root",
                "items": {
                  "$ref": "#/components/schemas/Folder--Mini"
                }
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created this folder"
                  }
                ]
              },
              "modified_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who last modified this folder."
                  }
                ]
              },
              "trashed_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the folder or its contents were put in the trash. May be\n`null` for some folders such as root or trash.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "purged_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the folder or its contents will be purged from the trash. May\nbe `null` for some folders such as root or trash.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "content_created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the folder or its contents were originally created (according\nto the uploader).  May be `null` for some folders such as root or\ntrash.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "content_modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time the folder or its contents were last modified (according to\nthe uploader).  May be `null` for some folders such as root or trash.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the folder will automatically be deleted, i.e. expired. This\nattribute cannot be set.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "owned_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who owns this folder."
                  }
                ]
              },
              "shared_link": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SharedLink"
                  },
                  {
                    "description": "The shared link object for this folder. Will be\n`null` if no shared link has been created."
                  }
                ]
              },
              "folder_upload_email": {
                "type": "object",
                "properties": {
                  "access": {
                    "description": "The access level for which the email was created.",
                    "type": "string",
                    "example": "access",
                    "enum": [
                      "open",
                      "company",
                      "collaborators"
                    ]
                  },
                  "email": {
                    "description": "The upload email address for this folder. `null` if not set.",
                    "type": "string",
                    "format": "email",
                    "example": "upload.Picture.k13sdz1@u.box.com"
                  }
                }
              },
              "parent": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Folder--Mini"
                  },
                  {
                    "description": "The folder that contains this folder.\n\nMay be `null` for folders such as root, trash and child folders\nwhose parent is inaccessible."
                  }
                ]
              },
              "item_status": {
                "type": "string",
                "description": "Whether this item is deleted or not. Values include `active`,\n`trashed` if the item has been moved to the trash, and\n`deleted` if the item has been permanently deleted.",
                "enum": [
                  "active",
                  "trashed",
                  "deleted"
                ],
                "example": "active"
              },
              "item_collection": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ItemReference"
                },
                "description": "A collection of mini file and folder objects contained in this folder."
              }
            }
          }
        ]
      },
      "Folder--Mini": {
        "description": "A mini representation of a file version, used when\nnested under another resource.",
        "allOf": [
          {
            "$ref": "#/components/schemas/ItemReference"
          },
          {
            "properties": {
              "sequence_id": {
                "type": "string",
                "example": "1",
                "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome folders, such as root or trash."
              },
              "etag": {
                "type": "string",
                "example": "1",
                "description": "The entity tag of this folder object. Used with If-Match\nheaders. May be `null` for some folders such as root or\ntrash."
              },
              "name": {
                "type": "string",
                "description": "The name of the folder.",
                "example": "Pictures"
              }
            }
          }
        ]
      },
      "Group": {
        "description": "Groups contain a set of users, and can be used in place of\nusers in some operations, such as collaborations.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Group--Standard"
          },
          {
            "properties": {
              "provenance": {
                "type": "string",
                "description": "Keeps track of which external source this group is\ncoming from (e.g. \"Active Directory\", \"Google Groups\",\n\"Facebook Groups\").  Setting this will\nalso prevent Box users from editing the group name\nand its members directly via the Box web application.\nThis is desirable for one-way  syncing of groups.",
                "maxLength": 255,
                "example": "Active Directory"
              },
              "external_sync_identifier": {
                "type": "string",
                "description": "An arbitrary identifier that can be used by\nexternal group sync tools to link this Box Group to\nan external group. Example values of this field\ncould be an Active Directory Object ID or a Google\nGroup ID.  We recommend you use of this field in\norder to avoid issues when group names are updated in\neither Box or external systems.",
                "example": "AD:123456"
              },
              "description": {
                "type": "string",
                "description": "Human readable description of the group.",
                "maxLength": 255,
                "example": "Support Group - as imported from Active Directory"
              },
              "invitability_level": {
                "type": "string",
                "example": "admins_only",
                "description": "Specifies who can invite the group to collaborate\non folders (Create Collaboration).\n\nWhen set to `admins_only` the enterprise admin, co-admins,\nand the group's admin can invite the group.\n\nWhen set to `admins_and_members` all the admins listed\nabove and group members can invite the group.\n\nWhen set to `all_managed_users` all managed users in the\nenterprise can invite the group.",
                "enum": [
                  "admins_only",
                  "admins_and_members",
                  "all_managed_users"
                ]
              },
              "member_viewability_level": {
                "type": "string",
                "example": "admins_only",
                "description": "Specifies who can view the members of the group\n(Get Memberships for Group).\n\n* `admins_only - the enterprise admin, co-admins, group's\n  group admin\n* `admins_and_members` - all admins and group members\n* `all_managed_users` - all managed users in the\n  enterprise",
                "enum": [
                  "admins_only",
                  "admins_and_members",
                  "all_managed_users"
                ]
              }
            }
          }
        ]
      },
      "Group--Standard": {
        "description": "A standard representation of a group, as returned from any\ngroup API endpoints by default",
        "allOf": [
          {
            "$ref": "#/components/schemas/Group--Mini"
          },
          {
            "properties": {
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the group object was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the group object was last modified",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "Group--Mini": {
        "type": "object",
        "description": "Mini representation of the group, including id and name of\ngroup.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the group",
                "example": "Support"
              }
            }
          }
        ]
      },
      "GroupMembership": {
        "description": "Membership is used to signify that a user is part of a\ngroup.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "user": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user that the membership applies to"
                  }
                ]
              },
              "group": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Group--Mini"
                  },
                  {
                    "description": "The group that the membership applies to"
                  }
                ]
              },
              "role": {
                "type": "string",
                "example": "member",
                "description": "The role of the user in the group.",
                "enum": [
                  "member",
                  "admin"
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time this membership was created.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "The time this membership was last modified.",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "ItemReference": {
        "description": "A generic mini representation of a file, folder, user or enterprise",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "sequence_id": {
                "type": "string",
                "example": "1",
                "description": "A unique ID for use with the `/events` endpoint. May be `null` for\nsome items, such as root or trash."
              },
              "etag": {
                "type": "string",
                "example": "1",
                "description": "The entity tag of this item. Used with If-Match headers.\nMay be `null` for some folders such as root or trash."
              },
              "name": {
                "type": "string",
                "description": "The name of the item.",
                "example": "Pictures"
              }
            }
          }
        ]
      },
      "ItemReferenceCollection": {
        "description": "A list of generic mini representations of a file, folder, user or enterprise",
        "allOf": [
          {
            "$ref": "#/components/schemas/Pagination"
          },
          {
            "properties": {
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ItemReference"
                }
              }
            }
          }
        ]
      },
      "LegalHold": {
        "description": "File-Version-Legal-Hold is an entity representing all\nholds on a File Version.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "file_version": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FileVersion--Mini"
                  },
                  {
                    "description": "The file version that is held"
                  }
                ]
              },
              "file": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/File--Mini"
                  },
                  {
                    "description": "The parent file of the file version that is held.\nNote that there is no guarantee that the current\nversion of this file is held."
                  }
                ]
              },
              "legal_hold_policy_assignments": {
                "description": "List of assignments contributing to this Hold.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LegalHoldPolicyAssignment"
                }
              },
              "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Time that this File-Version-Legal-Hold was\ndeleted.",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "LegalHoldPolicy": {
        "description": "Legal Hold Policy information describes the basic\ncharacteristics of the Policy, such as name, description,\nand filter dates.",
        "allOf": [
          {
            "$ref": "#/components/schemas/LegalHoldPolicy--Mini"
          },
          {
            "properties": {
              "policy_name": {
                "type": "string",
                "example": "Policy 4",
                "description": "Name of the legal hold policy.",
                "maxLength": 254
              },
              "description": {
                "type": "string",
                "description": "Description of the legal hold policy. Optional\nproperty with a 500 character limit.",
                "maxLength": 500,
                "example": "Postman created policy"
              },
              "status": {
                "type": "string",
                "example": "active",
                "enum": [
                  "active",
                  "applying",
                  "releasing",
                  "released"
                ],
                "description": "* 'active' - the policy is not in a transition state\n* 'applying' - that the policy is in the process of\n  being applied\n* 'releasing' - that the process is in the process\n  of being released\n* 'released' - the policy is no longer active"
              },
              "assignment_counts": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AssignmentCounts"
                  },
                  {
                    "description": "Counts of assignments within this policy by apply-to type"
                  }
                ]
              },
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created the legal hold policy object"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the legal hold policy object was created",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "modified_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the legal hold policy object was modified.\nDoes not update when assignments are added or removed.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the policy release request was sent. (Because\nit can take time for a policy to fully delete, this\nisn't quite the same time that the policy is fully deleted).\n\nIf `null`, the policy was not deleted.",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "filter_started_at": {
                "type": "string",
                "format": "date-time",
                "description": "User-specified, optional date filter applies to\nCustodian assignments only",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "filter_ended_at": {
                "type": "string",
                "format": "date-time",
                "description": "User-specified, optional date filter applies to\nCustodian assignments only",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "release_notes": {
                "type": "string",
                "example": "Example",
                "description": "Optional notes about why the policy was created.",
                "maxLength": 500
              }
            }
          }
        ]
      },
      "LegalHoldPolicy--Mini": {
        "description": "A mini legal hold policy",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {}
          }
        ]
      },
      "LegalHoldPolicyAssignment": {
        "description": "Legal Hold Assignments are used to assign Legal Hold\nPolicies to Users, Folders, Files, or File Versions.\n\nCreating a Legal Hold Assignment puts a hold\non the File-Versions that belong to the Assignment's\n'apply-to' entity.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "legal_hold_policy": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LegalHoldPolicy--Mini"
                  },
                  {
                    "description": "The policy that the legal hold policy assignment\nis part of"
                  }
                ]
              },
              "assigned_to": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ItemReference"
                  },
                  {
                    "description": "The entity that the legal hold policy assignment\nis assigned to. Includes type and ID."
                  }
                ]
              },
              "assigned_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The user who created the legal hold policy\nassignment"
                  }
                ]
              },
              "assigned_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the legal hold policy assignment object was\ncreated",
                "example": "2012-12-12T10:53:43-08:00"
              },
              "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "When the assignment release request was sent.\n(Because it can take time for an assignment to fully\ndelete, this isn't quite the same time that the\nassignment is fully deleted). If null, Assignment\nwas not deleted.",
                "example": "2012-12-12T10:53:43-08:00"
              }
            }
          }
        ]
      },
      "Lock": {
        "description": "The lock held on a file.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Reference"
          },
          {
            "properties": {
              "created_by": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User--Mini"
                  },
                  {
                    "description": "The use who created the lock"
                  }
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "The time this lock was created at"
              },
              "expired_at": {
                "type": "string",
                "format": "date-time",
                "example": "2012-12-12T10:53:43-08:00",
                "description": "The time this lock is to expire at, which might be in the past"
              },
              "is_download_prevented": {
                "type": "boolean",
                "example": true,
                "description": "Whether or not the file can be downloaded while locked"
              }
            }
          }
        ]
      },
      "Metadata": {
        "description": "The metadata as applied by a metadata template to a file or\nfolder",
        "properties": {
          "$canEdit": {
            "type": "boolean",
            "example": true,
            "description": "Whether the user can edit this metadata"
          },
          "$id": {
            "type": "string",
            "format": "uuid",
            "example": "01234500-12f1-1234-aa12-b1d234cb567e",
            "description": "36-character UUID to identify the metadata object"
          },
          "$parent": {
            "type": "string",
            "example": "folder_59449484661,",
            "description": "An ID for the parent folder"
          },
          "$scope": {
            "type": "string",
            "example": "enterprise_27335",
            "description": "An ID for the scope in which this template\nhas been applied"
          },
          "$template": {
            "type": "string",
            "example": "blueprintTemplate",
            "description": "The name of the template"
          },
          "$type": {
            "type": "string",
            "example": "blueprintTemplate-6bcba49f-ca6d-4d2a-a758-57fe6edf44d0",
            "description": "A unique identifier for the \"type\" of this instance. This is an internal\nsystem property and should not be used by a client application."
          },
          "$typeVersion": {
            "type": "integer",
            "example": 2,
            "description": "The last-known version of the template of the object. This is an internal\nsystem property and should not be used by a client application."
          },
          "$version": {
            "type": "integer",
            "example": 1,
            "description": "The version of the metadata object. Starts at 0 and increases every time\na user-defined property is modified."
          }
        },
        "additionalProperties": {
          "type": "string",
          "description": "Additional data",
          "example": "foo=bar"
        }
      },
      "MetadataCascadePolicy": {
        "description": "A cascade policy that applies to metadata policy template\nto a folder",
        "properties": {
          "id": {
            "type": "string",
            "example": "6fd4ff89-8fc1-42cf-8b29-1890dedd26d7",
            "description": "The ID of the metadata cascade policy object"
          },
          "owner_enterprise": {
            "type": "object",
            "description": "The enterprise that owns the policy.",
            "properties": {
              "type": {
                "type": "string",
[...]
