{
  "openapi": "3.0.2",
  "info": {
    "title": "Box Platform 2.0 APIs",
    "description": "The Box Content API gives you access to secure content management and content experience features for use in your own app. It strives to be RESTful and is organized around the main resources you’re familiar with from the Box web interface.",
    "termsOfService": "https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9",
    "contact": {
      "name": "Box Developer Relations",
      "url": "https://developer.box.com",
      "email": "devrel@box.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.box.com/2.0",
      "description": "Box Platform API server"
    }
  ],
  "paths": {
    "/authorize": {
      "get": {
        "operationId": "get_authorize",
        "summary": "Authorize a user",
        "description": "Authorize a user by sending them through the [Box](https://box.com)\nwebsite and request their permission to act on their behalf.\n\nThis is the first step when authenticating a user using\nOAuth 2.0. To request a user's authorization to use the Box APIs\non their behalf you will need to send a user to the URL with this\nformat.",
        "tags": [
          "Authorization"
        ],
        "x-box-reference-category": "authorization",
        "security": [],
        "servers": [
          {
            "url": "https://account.box.com/api/oauth2",
            "description": "Server for client-side authentication"
          }
        ],
        "parameters": [
          {
            "name": "response_type",
            "description": "The string value `\"code\"` is the only current value we support\nfor the OAuth2 grant type.",
            "in": "query",
            "example": "5idyGSFuf54zrvKm",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "client_id",
            "description": "The Client ID of the application that is requesting to authenticate\nthe user. To get the Client ID for your application, log in to your\nBox developer console and click the **Edit Application** link for\nthe application you're working with. In the OAuth2 Parameters section\nof the configuration page, find the item labeled **client_id**. The\ntext of that item is your application's Client ID.",
            "in": "query",
            "example": "ly1nj6n11vionaie65emwzk575hnnmrk",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "description": "The URL to which Box redirects the browser after the user has granted\nor rejected the application permission. This URL must match the\nredirect URL in the configuration of your application. It must be a\nvalid HTTPS URL and it needs to be able to handle the redirection to\ncomplete the next step in the OAuth2 flow.",
            "in": "query",
            "example": "http://example.com/auth/callback",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "description": "A custom string of your choice. Box will pass the same string to\nthe redirect URL when authentication is complete. This parameter\ncan be used to identify a user on redirect, as well as protect\nagainst hijacked sessions and other attacks.",
            "in": "query",
            "example": "my_state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "A comma-separated list of application scopes you'd like to\nauthenticate the user for. This defaults to all the scopes configured\nfor the application in its configuration page.",
            "in": "query",
            "example": "admin_readwrite",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Does not return any data, but rather should be used in the browser.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "post_oauth2_token",
        "summary": "Request an Access Token",
        "description": "Request an Access Token using either a client-side obtained OAuth2\nauthorization code or a server-side JWT assertion.\n\nAn Access Token is a string that enables Box to verify that a\nrequest belongs to an authorized session. In the normal order of\noperations you will begin by requesting authentication from the\n[authorize](#get-authorize) endpoint and Box will send you an\nauthorization code.\n\nYou will then send this code to this endpoint to exchange it for\nan Access Token. The returned Access Token can then be used to to make\nBox API calls.",
        "tags": [
          "Authorization"
        ],
        "x-box-reference-category": "authorization",
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a new Access Token that can be used to make authenticated\nAPI calls by passing along the token in a authorization header as\nfollows `Authorization: Bearer <Token>`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessToken"
                }
              }
            }
          },
          "400": {
            "description": "A generic authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/revoke": {
      "post": {
        "operationId": "post_oauth2_revoke",
        "summary": "Revoke an Access Token",
        "description": "Revoke an active Access Token, effectively logging a user out\nthat has been previously authenticated.",
        "tags": [
          "Authorization"
        ],
        "x-box-reference-category": "authorization",
        "security": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRevocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an empty response when the token was successfully revoked."
          },
          "400": {
            "description": "An OAuth2 error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Error"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}": {
      "get": {
        "operationId": "get_files_id",
        "summary": "Get file information",
        "tags": [
          "Files"
        ],
        "x-box-reference-category": "files",
        "description": "Retrieves the details about a file.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a file object.\n\n[Some fields are optional](#file) and need to be explicitly\nrequested using the [fields](#get-files-id--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_files_id",
        "summary": "Update a file",
        "tags": [
          "Files"
        ],
        "x-box-reference-category": "files",
        "description": "Updates a file. This can be used to rename or move a file,\ncreate a shared link, or lock a file.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "description": "Ensure this item hasn't recently changed\nby ensuring the item's current `etag` matches the\n`etag` passed into this header.",
            "in": "header",
            "required": false,
            "example": 1,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name for the file",
                    "example": "NewFile.txt"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description for a file",
                    "maxLength": 256,
                    "example": "Amazing Photo"
                  },
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      },
                      {
                        "description": "The parent folder for this file. Use this to move the file\nor to restore it out of the trash."
                      }
                    ]
                  },
                  "shared_link": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SharedLink--Writable"
                      },
                      {
                        "description": "Enables the creation of a shared link for this file"
                      }
                    ]
                  },
                  "lock": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Lock--Writable"
                      },
                      {
                        "description": "Creates a lock on a file. Set to `null` to unlock a file"
                      }
                    ]
                  },
                  "permissions": {
                    "description": "Whether the shared link allows downloads",
                    "type": "object",
                    "properties": {
                      "can_download": {
                        "description": "Who is allowed to download this file",
                        "type": "string",
                        "example": "open",
                        "enum": [
                          "open",
                          "company"
                        ]
                      }
                    }
                  },
                  "tags": {
                    "type": "array",
                    "example": [
                      "approved"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "description": "The tags for this item.\n\nTo add or remove a tag, retrieve the item's current tags,\nmodify them, and then update them using this field."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a file object.\n\n[Some fields are optional](#file) and need to be explicitly\nrequested using the [fields](#get-files-id--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "default": {
            "description": "A client error can occur of the user does not have access to the file,\nthe file does not exists, or incorrect parameters are passed in the\nrequest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_files_id",
        "summary": "Delete a file",
        "tags": [
          "Files"
        ],
        "x-box-reference-category": "files",
        "description": "Deletes a file, either permanently or by moving it to\nthe trash.\n\nThe the enterprise settings determine whether the item will\nbe permanently deleted from Box or moved to the trash.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "description": "Ensure this item hasn't recently changed\nby ensuring the item's current `etag` matches the\n`etag` passed into this header.",
            "in": "header",
            "required": false,
            "example": 1,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the file has been successfully\ndeleted."
          },
          "412": {
            "description": "If the `If-Match` header was sent and the file has since changed, the\nAPI will return a `412 Precondition Failed` error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "Generic file error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/content": {
      "get": {
        "operationId": "get_files_id_content",
        "summary": "Download a file",
        "tags": [
          "Files"
        ],
        "x-box-reference-category": "files",
        "description": "Returns the contents of a file in binary format.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "description": "The byte range of the content to download.\n\nThe format `{start_byte}-{end_byte}` can be used to specify\nwhat section of the file to download.",
            "example": "0-1024",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BoxApi",
            "description": "The URL and password for a file that has\nbeen shared using a shared link, as this file would otherwise\nnot be accessible to the user.\n\nUse the format `shared_link=SHARED_LINK_URL` or if a password was set\nuse `shared_link=[link]&shared_link_password=[password]`",
            "example": "shared_link=[link]",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "description": "The file version to download",
            "example": 4,
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "If the file is not ready to be downloaded yet `Retry-After` header will\nbe returned indicating the time in seconds after which the file will\nbe available for the client to download.\n\nThis response can occur when the file was uploaded immediately before the\ndownload request.",
            "headers": {
              "Retry-After": {
                "description": "The time in seconds after which to retry the download",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "302": {
            "description": "If the file is available to be downloaded the response will include a\n`Location` header for the file on `dl.boxcloud.com`.\n\nThe `dl.boxcloud.com` URL is not persistent and clients will need\nto follow the redirect in order to actually download the file.",
            "headers": {
              "Location": {
                "description": "A pointer to the download URL",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          }
        }
      }
    },
    "/files/content": {
      "options": {
        "operationId": "options_files_content",
        "summary": "Preflight check",
        "tags": [
          "Files"
        ],
        "x-box-reference-category": "files",
        "description": "Performs a check to verify that a file will be accepted by Box\nbefore you upload the entire file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name for the file",
                    "example": "File.mp4"
                  },
                  "size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The size of the file in bytes",
                    "example": 1024
                  },
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      },
                      {
                        "description": "The parent folder to upload the file to"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "If the check passed, the response will include a session URL that\ncan be used to upload the file to.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrl"
                }
              }
            }
          },
          "409": {
            "description": "If the check did not pass, the response will include some details on\nwhy it did not pass.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "default": {
            "description": "A generic client error can occur when incorrect file\npermissions were passed in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/copy": {
      "post": {
        "operationId": "post_files_id_copy",
        "summary": "Copy a file",
        "description": "Creates a copy of a file.",
        "tags": [
          "Files"
        ],
        "x-box-reference-category": "files",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "parent"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "An optional different name for the new file.\n\nNames can only contain basic, printable\nASCII characters, without any slashes or\ntrailing spaces.\n\nBot `.` and `..` are protected names.",
                    "example": "FileCopy.txt",
                    "maxLength": 255
                  },
                  "version": {
                    "type": "string",
                    "description": "An optional ID of the specific file version you want to copy",
                    "example": "0"
                  },
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      },
                      {
                        "description": "The parent folder"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a new file object representing the copied file.\n\n[Some fields are optional](#file) and need to be explicitly\nrequested using the [fields](#post-files-id-copy--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/thumbnail.{extension}": {
      "get": {
        "operationId": "get_files_id_thumbnail_id",
        "summary": "Get a file thumbnail",
        "description": "Retrieves a thumbnail, or smaller image representation, of a file.\n\nSizes of `32x32`,`64x64`, `128x128`, and `256x256` can be returned in\nthe `.png` format and sizes of `32x32`, `94x94`, `160x160`, and `320x320`\ncan be returned in the `.jpg` format.\n\nThumbnails can be generated for the image and video file formats listed\n[found on our community site](http://community.box.com/t5/Managing-\\\nYour-Content/What-file-types-are-supported-by-Box-s-Content-Preview/\\\nta-p/327).",
        "tags": [
          "Files",
          "Thumbnails"
        ],
        "x-box-reference-category": "files",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "extension",
            "description": "The file format for the thumbnail",
            "in": "path",
            "required": true,
            "example": "png",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpg"
              ]
            }
          },
          {
            "name": "min_height",
            "description": "The minimum height of the thumbnail",
            "in": "query",
            "example": 32,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "min_width",
            "description": "The minimum width of the thumbnail",
            "in": "query",
            "example": 32,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_height",
            "description": "The maximum height of the thumbnail",
            "in": "query",
            "required": false,
            "example": 32,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "max_width",
            "description": "The maximum width of the thumbnail",
            "in": "query",
            "required": false,
            "example": 32,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "When a thumbnail can be created the thumbnail data will be\nreturned in the body of the response.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The thumbnail"
                }
              },
              "image/jpg": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The thumbnail"
                }
              }
            }
          },
          "202": {
            "description": "If the thumbnail is not available yet, a `Location` header\npointing to a placeholder graphic will be returned.",
            "headers": {
              "Retry-After": {
                "description": "The time in seconds after which the thumbnail will be available.\n\nYour application  only attempt to get the thumbnail again after\nthis time.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "Location": {
                "description": "A pointer to a placeholder graphic that can be used until the\nthumbnail has been generated.",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "302": {
            "description": "If Box is unable to generate a thumbnail for this file type, a `Location`\nheader pointing to a placeholder graphic for this file type will be\nreturned.",
            "headers": {
              "Location": {
                "description": "A pointer to a placeholder graphic that can be used for this\nfile type.",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            }
          },
          "404": {
            "description": "If Box is unable to generate a thumbnail for this particular file, `404`\nwill be returned with a code of `preview_cannot_be_generated`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/collaborations": {
      "get": {
        "operationId": "get_files_id_collaborations",
        "summary": "Get file collaborations",
        "description": "Retrieves a list of collaborations for a file. This\nreturns all the users that have access to the file.",
        "tags": [
          "Collaborations",
          "Files"
        ],
        "x-box-reference-category": "collaborations",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return per page.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "description": "The offset of the item at which to begin the response.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of collaboration objects. If there are no\ncollaborations on this file an empty collection will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collaborations"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/comments": {
      "get": {
        "operationId": "get_files_id_comments",
        "summary": "Get file comments",
        "description": "Retrieves a list of comments for a file.",
        "tags": [
          "Comments",
          "Files"
        ],
        "x-box-reference-category": "comments",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return per page.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "description": "The offset of the item at which to begin the response.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of comment objects. If there are no\ncomments on this file an empty collection will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comments"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/tasks": {
      "get": {
        "operationId": "get_files_id_tasks",
        "summary": "Get file tasks",
        "description": "Retrieves a list of all the tasks for a file. This\nendpoint does not support paging.",
        "tags": [
          "Tasks",
          "Files"
        ],
        "x-box-reference-category": "tasks",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of task objects. If there are no\ntasks on this file an empty collection will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tasks"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/trash": {
      "get": {
        "operationId": "get_files_id_trash",
        "summary": "Get a trashed file",
        "tags": [
          "Files",
          "Trash"
        ],
        "x-box-reference-category": "trash",
        "description": "Retrieves a file that has been moved to the trash.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the file that was trashed,\nincluding information about when the it\nwas moved to the trash.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "404": {
            "description": "Returns an error if the file is not in the trash.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_files_id_trash",
        "summary": "Permanently delete file",
        "tags": [
          "Files",
          "Trash"
        ],
        "x-box-reference-category": "files",
        "description": "Permanently deletes a file in the trash. The item will no longer\nexist in Box. This action cannot be undone.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "An empty `204 No Content` response will be returned upon successful\ndeletion."
          },
          "default": {
            "description": "Generic file error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/versions": {
      "get": {
        "operationId": "get_files_id_versions",
        "summary": "Get all file versions",
        "tags": [
          "Files",
          "File Versions"
        ],
        "x-box-reference-category": "file_versions",
        "description": "Retrieve information on all version of a file. This endpoint can be used to\nretrieve information about older versions of a file.\n\nVersions are only tracked for Box users with premium accounts.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return per page.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "description": "The offset of the item at which to begin the response.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of file versions.\n\nIf there are no previous versions of this file an empty\narray will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileVersions"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/versions/{file_version_id}": {
      "get": {
        "operationId": "get_files_id_versions_id",
        "summary": "Get a file version",
        "tags": [
          "Files",
          "File Versions"
        ],
        "x-box-reference-category": "file_versions",
        "description": "Retrieve a specific older version of a file.\n\nVersions are only tracked for Box users with premium accounts.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_version_id",
            "description": "The ID of the file version",
            "in": "path",
            "required": true,
            "example": "1234",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a file object.\n\n[Some fields are optional](#file) and need to be explicitly\nrequested using the [fields](#get-files-id-versions--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_files_id_versions_id",
        "summary": "Delete a file version",
        "tags": [
          "Files",
          "File Versions"
        ],
        "x-box-reference-category": "file_versions",
        "description": "Move a file version to the trash.\n\nVersions are only tracked for Box users with premium accounts.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_version_id",
            "description": "The ID of the file version",
            "in": "path",
            "required": true,
            "example": "1234",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "description": "Ensure this item hasn't recently changed\nby ensuring the item's current `etag` matches the\n`etag` passed into this header.",
            "in": "header",
            "required": false,
            "example": 1,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the file has been successfully\ndeleted."
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/versions/current": {
      "post": {
        "operationId": "post_files_id_versions_current",
        "summary": "Revert to file version",
        "tags": [
          "Files",
          "File Versions"
        ],
        "x-box-reference-category": "file_versions",
        "description": "Revert to a previous version of a file.\n\n\nIf previous versions exist, this method can be used to\npromote one of the older versions to the top of the version history.\n\nThis actually creates a new copy of the old version and puts it at the\ntop of the versions history. The file will have the exact same contents\nas the older version, with the the same SHA1/etag, and the same name\nas the original.\n\nOther properties such as comments do not get updated to their\nformer values.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "The file version to revert to",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The file version ID",
                    "example": "11446498"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type to revert to",
                    "example": "file",
                    "enum": [
                      "file_version"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a newly created file version object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileVersion"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/metadata": {
      "get": {
        "operationId": "get_files_id_metadata",
        "summary": "Get all file metadata",
        "tags": [
          "File & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Retrieves all metadata for a given file.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all the metadata associated with a file.\n\nThis API does not support pagination and will therefore always return\nall of the metadata associated to the file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadatas"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/files/{file_id}/metadata/{scope}/{template_key}": {
      "get": {
        "operationId": "get_files_id_metadata_id_id",
        "summary": "Get a specific file metadata",
        "tags": [
          "Files & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Retrieve a specific metadata template instance for a file",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "An instance of the metadata template that includes\nadditional `key:value` pairs defined by the user or\nan application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the metadata template specified\nwas not applied to this file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_files_id_metadata_id_id",
        "summary": "Create metadata on file",
        "tags": [
          "File & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Creates a piece of metadata on a file based on the specified template.\n\nOnly values that are present in the metadata template\nwill be accepted.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "example_key": "Example Value"
                },
                "additionalProperties": {
                  "type": "string",
                  "example": "Example Value"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an instance of the template that was specified, with the\ncustom template data included.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "409": {
            "description": "If the piece of metadata already exists, a conflict error\nwill be returned. The metadata can then instead be updated with the\n`put` method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_files_id_metadata_id_id",
        "summary": "Update metadata on file",
        "tags": [
          "File & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Updates a piece of metadata on a file.\n\nThe metadata instance can only be updated if the instance\nalready exists. When editing metadata, only values that adhere to the\nmetadata template schema will be accepted.\n\nThe update is applied atomically. If any errors occur during the\napplication of the operations, the metadata instance remains unchanged.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "A [JSON-Patch](https://tools.ietf.org/html/rfc6902)\nspecification for the changes to make to the metadata.\nThe changes are represented as a JSON array of\noperation objects.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MetadataPatchItem"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated metadata template instance, with the\ncustom template data included.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "409": {
            "description": "If the piece of metadata already exists, a conflict error\nwill be returned. The metadata can then instead be updated with the\n`put` method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_files_id_metadata_id_id",
        "summary": "Delete metadata on file",
        "tags": [
          "File & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Deletes a piece of file metadata.",
        "parameters": [
          {
            "name": "file_id",
            "description": "The ID of the file.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the metadata is\nsuccessfully deleted."
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}": {
      "get": {
        "operationId": "get_folders_id",
        "summary": "Get folder information",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "description": "Retrieves the details about a folder, including the first 100 entries\nin the folder.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a folder object, including the first 100 entries in the folder.\n\n[Some fields are optional](#folder) and need to be explicitly\nrequested using the [fields](#get-folders-id--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "A client error can occur of the user does not have access to the folder,\nthe folder does not exists, or incorrect parameters are passed in the\nrequest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_folders_id",
        "summary": "Update a folder",
        "description": "Updates a folder. This can be also be used to move the folder,\ncreate shared links, update collaborations, and more.",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "description": "Ensure this item hasn't recently changed\nby ensuring the item's current `etag` matches the\n`etag` passed into this header.",
            "in": "header",
            "required": false,
            "example": 1,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name for the folder",
                    "example": "New Folder"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the folder",
                    "maxLength": 256,
                    "example": "Some pictures I took"
                  },
                  "sync_state": {
                    "type": "string",
                    "example": "synced",
                    "description": "If Box Sync or Box Drive is allowed to sync this folder.",
                    "enum": [
                      "synced",
                      "not_synced"
                    ]
                  },
                  "can_non_owners_invite": {
                    "type": "boolean",
                    "example": true,
                    "description": "If collaborators who are not\nfolder owners can invite new collaborators"
                  },
                  "is_collaboration_restricted_to_enterprise": {
                    "type": "boolean",
                    "example": true,
                    "description": "If future invites to this folder are restricted to users\nwithin the enterprise. This does not affect existing\ncollaborations."
                  },
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      },
                      {
                        "description": "The parent folder for this folder. Use this to move the folder\nor to restore it out of the trash."
                      }
                    ]
                  },
                  "shared_link": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SharedLink--Writable"
                      },
                      {
                        "description": "Enables the creation of a shared link for this folder"
                      }
                    ]
                  },
                  "folder_upload_email": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/FolderUploadEmail"
                      },
                      {
                        "description": "Enables an email address for users to upload\nfiles directly to the folder"
                      }
                    ]
                  },
                  "owned_by": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Owner"
                      },
                      {
                        "description": "The user that owns this folder"
                      }
                    ]
                  },
                  "tags": {
                    "type": "array",
                    "example": [
                      "approved"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "description": "The tags for this item.\n\nTo add or remove a tag, retrieve the item's current tags,\nmodify them, and then update them using this field."
                  },
                  "collections": {
                    "type": "array",
                    "description": "The collections this folder belongs to.",
                    "items": {
                      "$ref": "#/components/schemas/Parent"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a folder object for the updated folder\n\n[Some fields are optional](#folder) and need to be explicitly\nrequested using the [fields](#put-folders-id--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_folders_id",
        "summary": "Delete a folder",
        "description": "Deletes a folder, either permanently or by moving it to\nthe trash.\n\nThe the enterprise settings determine whether the item will\nbe permanently deleted from Box or moved to the trash.",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "description": "Delete a folder that is not empty by recursively deleting the\nfolder and all of its content.",
            "in": "query",
            "required": false,
            "example": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "If-Match",
            "description": "Ensure this item hasn't recently changed\nby ensuring the item's current `etag` matches the\n`etag` passed into this header.",
            "in": "header",
            "required": false,
            "example": 1,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the folder is successfully deleted\nor moved to the trash."
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/items": {
      "get": {
        "operationId": "get_folders_id_items",
        "summary": "Get folder items",
        "tags": [
          "Folders",
          "Files"
        ],
        "x-box-reference-category": "folders",
        "description": "Retrieves a page of files, folders, web links, and other items contained\nwithin the specified folder.\n\nTo request more information about the folder, use the\n[Retrieve a folder](#get-folders-id-items) endpoint.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "description": "The offset of the item at which to begin the response.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return per page.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of items contained in the folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders": {
      "post": {
        "operationId": "post_folders",
        "summary": "Create a folder",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "description": "Creates a new empty folder within the specified parent folder.",
        "parameters": [
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name for the new folder",
                    "example": "New Folder"
                  },
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      },
                      {
                        "description": "The parent folder"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a folder object.\n\n[Some fields are optional](#folder) and need to be explicitly\nrequested using the [fields](#post-folders--request--fields) parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "Client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/copy": {
      "post": {
        "operationId": "post_folders_id_copy",
        "summary": "Copy a folder",
        "description": "Creates a copy of a folder in another folder. The original folder will\nnot be changed.",
        "tags": [
          "Folders"
        ],
        "x-box-reference-category": "folders",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "parent"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "An optional different name for the new folder",
                    "example": "New Folder"
                  },
                  "parent": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Parent"
                      },
                      {
                        "description": "The parent folder"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns a new folder object representing the copied folder.\n\n[Some fields are optional](#folder) and need to be explicitly\nrequested using the [fields](#post-folders-id-copy--request--fields)\nparameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/collaborations": {
      "get": {
        "operationId": "get_folders_id_collaborations",
        "summary": "Get folder collaborations",
        "description": "Retrieves a list of collaborations for a folder. This\nreturns all the users that have access to the folder.",
        "tags": [
          "Collaborations",
          "Folders"
        ],
        "x-box-reference-category": "collaborations",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return per page.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "description": "The offset of the item at which to begin the response.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of collaboration objects. If there are no\ncollaborations on this folder an empty collection will be returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collaborations"
                }
              }
            }
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/trash": {
      "get": {
        "operationId": "get_folders_id_trash",
        "summary": "Get a trashed folder",
        "tags": [
          "Folders",
          "Trash"
        ],
        "x-box-reference-category": "trash",
        "description": "Retrieves a folder that has been moved to the trash.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the folder that was trashed,\nincluding information about when the it\nwas moved to the trash.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "404": {
            "description": "Returns an error if the folder is not in the trash.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_folders_id_trash",
        "summary": "Permanently delete folder",
        "tags": [
          "Folders",
          "Trash"
        ],
        "x-box-reference-category": "folders",
        "description": "Permanently deletes a folder in the trash. The item will no longer\nexist in Box. This action cannot be undone.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "An empty `204 No Content` response will be returned upon successful\ndeletion."
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/metadata": {
      "get": {
        "operationId": "get_folders_id_metadata",
        "summary": "Get all folder metadata",
        "tags": [
          "File & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Retrieves all metadata for a given folder.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all the metadata associated with a folder.\n\nThis API does not support pagination and will therefore always return\nall of the metadata associated to the folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadatas"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folder_id}/metadata/{scope}/{template_key}": {
      "get": {
        "operationId": "get_folders_id_metadata_id_id",
        "summary": "Get a specific folder metadata",
        "tags": [
          "File & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Retrieve a specific metadata template instance for a folder",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "An instance of the metadata template that includes\nadditional `key:value` pairs defined by the user or\nan application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "404": {
            "description": "Returned if the metadata template specified\nwas not applied to this folder.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "post_folders_id_metadata_id_id",
        "summary": "Create metadata on folder",
        "tags": [
          "File & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Creates a piece of metadata on a folder based on the specified template.\n\nOnly values that are present in the metadata template\nwill be accepted.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "example_key": "Example Value"
                },
                "additionalProperties": {
                  "type": "string",
                  "example": "Example Value"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an instance of the template that was specified, with the\ncustom template data included.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "409": {
            "description": "If the piece of metadata already exists, a conflict error\nwill be returned. The metadata can then instead be updated with the\n`put` method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_folders_id_metadata_id_id",
        "summary": "Update metadata on folder",
        "tags": [
          "File & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Updates a piece of metadata on a folder based.\n\nThe metadata instance can only be updated if the instance\nalready exists. When editing metadata, only values that adhere to the\nmetadata template schema will be accepted.\n\nThe update is applied atomically. If any errors occur during the\napplication of the operations, the metadata instance remains unchanged.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "A [JSON-Patch](https://tools.ietf.org/html/rfc6902)\nspecification for the changes to make to the metadata.\nThe changes are represented as a JSON array of\noperation objects.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MetadataPatchItem"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated metadata template instance, with the\ncustom template data included.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "409": {
            "description": "If the piece of metadata already exists, a conflict error\nwill be returned. The metadata can then instead be updated with the\n`put` method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_folders_id_metadata_id_id",
        "summary": "Delete metadata on folder",
        "tags": [
          "File & Folder Metadata"
        ],
        "x-box-reference-category": "metadata",
        "description": "Deletes a piece of folder metadata.",
        "parameters": [
          {
            "name": "folder_id",
            "description": "The ID of the folder.\n\nThe root folder of a Box account is\nalways represented by the id `\"0\"`.",
            "example": "12345",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returns an empty response when the metadata is\nsuccessfully deleted."
          },
          "default": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      }
    },
    "/folders/trash/items": {
      "get": {
        "operationId": "get_folders_trash_items",
        "summary": "Get all trashed items",
        "tags": [
          "Folders",
          "Trash"
        ],
        "x-box-reference-category": "trash",
        "description": "Retrieves the files and folders that have been moved\nto the trash.\n\nAny attribute in the full files or folders objects can be passed\nin with the `fields` parameter to retrieve those specific\nattributes that are not returned by default.",
        "parameters": [
          {
            "name": "fields",
            "description": "A comma-separated list of attributes to include in the\nresponse. This can be used to request fields that are\nnot normally returned in a standard response.",
            "in": "query",
            "example": "id,type,name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "description": "The maximum number of items to return per page.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "description": "The offset of the item at which to begin the response.",
            "in": "query",
            "required": false,
            "example": 1000,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of items that have been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items"
                }
              }
            }
          }
        }
      }
    },
    "/metadata_templates/{scope}/{template_key}/schema": {
      "get": {
        "operationId": "get_metadata_templates_id_id_schema",
        "summary": "Get metadata template by name",
        "tags": [
          "Metadata Templates"
        ],
        "x-box-reference-category": "metadata_templates",
        "description": "Retrieves a metadata template by its scope and template name.",
        "parameters": [
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the metadata template matching the `scope`\nand `template` name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataTemplate"
                }
              }
            }
          },
          "default": {
            "description": "Generic client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_metadata_templates_id_id_schema",
        "tags": [
          "Metadata Templates"
        ],
        "x-box-reference-category": "metadata_templates",
        "summary": "Update a metadata template",
        "description": "Updates a metadata template.\n\nThe metadata template can only be updated if the template\nalready exists.\n\nThe update is applied atomically. If any errors occur during the\napplication of the operations, the metadata template remains unchanged.",
        "parameters": [
          {
            "name": "scope",
            "description": "The scope of the metadata template",
            "example": "enterprise_27335",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "global",
                "enterprise_<id>"
              ]
            }
          },
          {
            "name": "template_key",
            "description": "The name of the metadata template",
            "example": "blueprintTemplate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
[...]
